# Which files and directories are safe to ignore
#

# Visual Studio project files
*.user
*.ncb
*.suo
*.pdb

# Visual Studio build directories
/win_build/Build/

# Visual Studio 2015/2017 cache/options directory
.vs/

#Visual Studio Code options directory
.vscode/

# Installshield build directories
/win_build/installerv2/BOINC
/win_build/installerv2/BOINC_vbox
/win_build/installerv2/BOINCx64
/win_build/installerv2/BOINCx64_vbox
/win_build/installerv2/WCG
/win_build/installerv2/Progress

# Netbeans project files
/html/nbproject/
*.project

# CLion files
.idea

#
*.pfx
*.pvk
*.spc
/win_build/*.filters
/win_build/boinc.sdf
/win_build/boinc.opensdf
/win_build/ipch

# Android (Studio, build scripts, artefacts, redundancies)
/android/**/*.iml
/android/**/.gradle
/android/**/local.properties
/android/**/.idea/caches
/android/**/.idea/libraries
/android/**/.idea/gradle.xml
/android/**/.idea/modules.xml
/android/**/.idea/tasks.xml
/android/**/.idea/usage.statistics.xml
/android/**/.idea/workspace.xml
/android/**/build
/android/**/captures
/android/**/.externalNativeBuild
/android/**/.vagrant
/android/**/.settings/
/android/**/.classpath
/stage
/android/BOINC/app/src/main/assets/arm*
/android/BOINC/app/src/main/assets/mips*
/android/BOINC/app/src/main/assets/x86*
/android/BOINC/app/src/main/assets/all_projects_list.xml
/android/BOINC/app/src/main/assets/ca-bundle.crt

## files created by _autosetup (autoreconf):
*.in
*.in~
!*.pc.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
configure~
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
test-driver

## files created by configure:
Makefile
.deps/
*.pc
boinc_path_config.py
pkginfo
prototype
client/scripts/boinc-client
client/scripts/boinc-client.service
config.h
config.log
config.status
libtool
py/Boinc/version.py
py/setup.py
stamp-h1
test/version.inc

## files created by make:
*.o
*.lo
*.a
*.la
py/lib/Boinc

## Python bytecode
*.pyc

## Drupal
# ignore files with private/sensitive content in a public repo
drupal/sites/default/dbconfig.php
# ignore symlink to project-specific content (tracked in separate/project repo)
drupal/sites/default/project

## translation system
locale/*/*.flag

## dependency builds and CI cache directories
3rdParty/Windows/
3rdParty/linux/
3rdParty/linux-arm64/
3rdParty/mac/
3rdParty/buildCache/
3rdParty/android/

.libs/
svn_version.h

## code coverage
*.gcov
*.gcno
*.gcda

# list of executables
apps/1sec
apps/concat
apps/uppercase
client/boinc
client/boinc_client
client/boinccmd
client/switcher
clientgui/boincmgr
clientscr/boincscr
doc/manpages/appmgr.8
doc/manpages/boinc.1
doc/manpages/boinccmd.1
doc/manpages/boincmgr.1
lib/crypt_prog
lib/parse_test
py/lib.*/
py/build/
samples/condor/*boinc_gahp
samples/docker_wrapper/docker_wrapper*
samples/example_app/*uc2
samples/example_app/*ucn
samples/example_app/uc2_graphics
samples/example_app/slide_show
samples/example_app/ttfont.cpp
samples/multi_thread/*multi_thread*
samples/sleeper/*sleeper
samples/vboxmonitor/*vboxmonitor
samples/vboxwrapper/*vboxwrapper
samples/vboxwrapper/vboxwrapper_*-*
samples/worker/*worker
samples/worker/worker_*-*
samples/wrapper/*wrapper
samples/wrapper/wrapper_*-*
samples/openclapp/*openclapp
samples/wrappture/*wrappture_example
samples/wrappture/*fermi
samples/**/*.exe
samples/sporadic/sporadic
sched/adjust_user_priority
sched/antique_file_deleter
sched/census
sched/cgi
sched/credit_test
sched/db_dump
sched/db_purge
sched/delete_file
sched/fcgi
sched/fcgi_file_upload_handler
sched/feeder
sched/file_deleter
sched/file_upload_handler
sched/get_file
sched/make_work
sched/message_handler
sched/put_file
sched/sample_assimilator
sched/sample_bitwise_validator
sched/sample_dummy_assimilator
sched/sample_substr_validator
sched/sample_trivial_validator
sched/sample_work_generator
sched/sched_driver
sched/script_assimilator
sched/script_validator
sched/show_shmem
sched/single_job_assimilator
sched/size_regulator
sched/status
sched/stop
sched/transitioner
sched/trickle_credit
sched/trickle_deadline
sched/trickle_echo
sched/update_stats
sched/validator_test
sched/wu_check
tools/cancel_jobs
tools/create_work
tools/dir_hier_move
tools/dir_hier_path
tools/remote_submit_test
tools/sign_executable
tools/stage_file_native
vda/ssim
vda/vda
vda/vdad
/win_build/*.sdf

# OS-specific files
.DS_Store

# cmake build
build/
build-*/

# snap
parts/
prime/
stage/
*.snap
*.msi

# vim temporary files
*.swp

