<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Fragment>
      <DirectoryRef Id="BOINCSCREENBIN" />
   </Fragment>
   <Fragment>
      <ComponentGroup Id="SCREENFILES">
         <Component Id="boinc.scr" Directory="BOINCSCREENBIN" Guid="{2F1E7265-0AAE-4A1E-90D6-3A89C9B424A8}">
            <File Id="boinc.scr" KeyPath="yes" Source="$(var.SourceScreenDir)\boinc.scr" />
         </Component>
      </ComponentGroup>
   </Fragment>
</Wix>