<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Fragment>
      <DirectoryRef Id="BOINCDATA">
         <Directory Id="projects" Name="projects" />
         <Directory Id="slots" Name="slots" />
      </DirectoryRef>
   </Fragment>
   <Fragment>
      <ComponentGroup Id="DATAFILES">
         <Component Id="all_projects_list.xml" Directory="BOINCDATA" Guid="{1EA728BF-CA97-4F90-9B06-92DA823A7767}">
            <File Id="all_projects_list.xml" KeyPath="yes" Source="$(var.SourceDataDir)\all_projects_list.xml" />
         </Component>
         <Component Id="placeholder.txt" Directory="BOINCDATA" Guid="{C0768E87-9B50-46A0-8C7C-F4E23911C455}">
            <File Id="placeholder.txt" KeyPath="yes" Source="$(var.SourceDataDir)\placeholder.txt" />
         </Component>
         <Component Id="placeholder.txt_1" Directory="projects" Guid="{7F290310-2FAA-49A9-93CF-A15C5F2402C2}">
            <File Id="placeholder.txt_1" KeyPath="yes" Source="$(var.SourceDataDir)\projects\placeholder.txt" />
         </Component>
         <Component Id="placeholder.txt_2" Directory="slots" Guid="{8AABAAA1-BB30-4216-B993-49EEFC526E4F}">
            <File Id="placeholder.txt_2" KeyPath="yes" Source="$(var.SourceDataDir)\slots\placeholder.txt" />
         </Component>
      </ComponentGroup>
   </Fragment>
</Wix>