<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <!-- Please take not that only incrementing the build version (x.x.x.build) will not trigger an upgrade, limitation of msi -->
    <Product Id="{31209A01-4F85-4476-9A23-A64C75AE94FC}" UpgradeCode="{E913E54D-5080-42EC-A312-B21948BA1C02}" 
            Version="$(var.BoincVersion)" Language="1033" 
            Name="BOINC" Manufacturer="Space Sciences Laboratory, U.C. Berkeley">
        <Package InstallerVersion="$(var.MinInstallerVersion)" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine" AdminImage="yes"/>
        <Media Id="1" Cabinet="boinc.cab" EmbedCab="yes" />
        
        <!-- Preconditions for starting the Installer at all -->
        <Condition Message="This version of the application is supported only from Windows 7 onward">
            <![CDATA[VersionNT >= 601]]>
        </Condition>
        <Condition Message="Installation requires Administrator privileges">
            <![CDATA[Privileged]]>
        </Condition>

        <!-- Disable reinstallation of same version and on later versions -->
        <MajorUpgrade
            DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

        <Icon Id="installer.ico" SourceFile="$(var.ProjectDir)\installer.ico" />

        <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
        <Property Id="ARPPRODUCTICON" Value="installer.ico" />
        <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
        <Property Id="BOINCBIN" Value="TARGETDIR" />
        <Property Id="BOINCSCREENBIN" Value="TARGETDIR" />
        <Property Id="BOINCDATA" Value="TARGETDIR" />

        <Property Id="VIRTUALBOX_REGKEY">
            <RegistrySearch Id="VBoxPresent" 
                    Root="HKLM" 
                    Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{4CAC012A-332C-4FE5-AD51-E308C90CA584}"
                    Name="WindowsInstaller"
                    Type="raw" 
                    Win64="yes"/>
        </Property>
        <SetProperty Id="VIRTUALBOXINSTALLED" After="AppSearch" Value="1">
            <![CDATA[VIRTUALBOX_REGKEY]]>
        </SetProperty>

        <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\LICENSE.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\WixUIBannerBmp.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\WixUIDialogBmp.bmp" />

        <SetDirectory Id="BOINCBIN" Value="[ProgramFiles64Folder][ProductName]"/>
        <SetDirectory Id="BOINCDATA" Value="[CommonAppDataFolder][ProductName]"/>

        <!-- Features of the installer -->
        <Feature Id="BoincManager" Title="Binaries" Level="1" Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="BOINCBIN">
            <ComponentGroupRef Id="BINARYFILES" />
            <ComponentGroupRef Id="BOINCComponents" />
            <ComponentGroupRef Id="BOINCComponentsService" />

            <ComponentRef Id="DesktopShortcut" />
            <ComponentRef Id="ProgramMenuShortcuts" />
            <ComponentRef Id="ProgramMenuShortcutsBOINC" />
        </Feature>
        <Feature Id="BoincData" Title="Local Data" Level="1" Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="BOINCDATA">
            <ComponentGroupRef Id="DATAFILES" />
        </Feature>

        <?if var.Platform != 'ARM64' ?>
        <SetDirectory Id="BOINCSCREENBIN" Value="[WindowsFolder]"/>
        <Feature Id="BoincScreensaver" Title="Screensaver" AllowAdvertise="no">
            <ComponentGroupRef Id="SCREENFILES" />
            <ComponentGroupRef Id="BOINCScreensaverGroupNT" />
            <ComponentGroupRef Id="BOINCScreensaverGroup9x" />
        </Feature>
        <?endif ?>

        <UI>
            <!-- Uses the custom UI instead of default -->
            <UIRef Id="WixUI_BoincUI" />
        </UI>

        <InstallExecuteSequence>
            <!-- After AppSearch (400) -->
            <Custom Action="CAShutdownBOINC" Sequence="403">VersionNT</Custom>
            <Custom Action="CAShutdownBOINCManager" Sequence="404">VersionNT</Custom>
            <Custom Action="CAShutdownBOINCScreensaver" Sequence="408">VersionNT</Custom>

            <!-- After ValidateProductID (700) -->
            <Custom Action="CAValidateSetupType" Sequence="737" />
            <Custom Action="CACleanupOldBinaries" Sequence="796"><![CDATA[REMOVE <> "ALL"]]></Custom>

            <!-- After CostFinalize (1000) -->
            <Custom Action="CAAnnounceUpgrade" Sequence="1001">
                <![CDATA[VersionNT AND REMOVE <> "ALL"]]>
            </Custom>
            <Custom Action="CARestoreSetupState" Sequence="1002">
                <![CDATA[VersionNT AND REMOVE = "ALL"]]>
            </Custom>
            
            <!-- After InstallInitialize (1500) -->
            <Custom Action="CAGetAdministratorsGroupName" Sequence="1537">
                <![CDATA[VersionNT And REMOVE <> "ALL"]]>
            </Custom>
            <Custom Action="CAGetUsersGroupName" Sequence="1543">
                <![CDATA[VersionNT And REMOVE <> "ALL"]]>
            </Custom>
            <Custom Action="CACreateBOINCAccounts" Sequence="1546">
                <![CDATA[VersionNT And REMOVE <> "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CAGrantBOINCMasterRights" Sequence="1547">
                <![CDATA[VersionNT And REMOVE <> "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CARevokeBOINCMasterRights" Sequence="1548">
                <![CDATA[VersionNT And REMOVE = "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CAGrantBOINCProjectRights" Sequence="1549">
                <![CDATA[VersionNT And REMOVE <> "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>

            <Custom Action="CARevokeBOINCProjectRights" Sequence="1550">
                <![CDATA[VersionNT And REMOVE = "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CADeleteBOINCAccounts" Sequence="1551">
                <![CDATA[VersionNT And REMOVE = "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CACreateBOINCGroups" Sequence="1552">
                <![CDATA[VersionNT And REMOVE <> "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CAGrantBOINCAdminsRights" Sequence="1553">
                <![CDATA[VersionNT And REMOVE = "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CARevokeBOINCAdminsRights" Sequence="1554">
                <![CDATA[VersionNT And REMOVE = "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CAGrantBOINCAdminsVirtualBoxRights" Sequence="1555">
                <![CDATA[VersionNT And REMOVE <> "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CAGrantBOINCUsersRights" Sequence="1556">
                <![CDATA[VersionNT And REMOVE <> "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CARevokeBOINCUsersRights" Sequence="1557">
                <![CDATA[VersionNT And REMOVE = "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CAGrantBOINCProjectsRights" Sequence="1558">
                <![CDATA[VersionNT And REMOVE <> "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CARevokeBOINCProjectsRights" Sequence="1559">
                <![CDATA[VersionNT And REMOVE = "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CAGrantBOINCProjectsVirtualBoxRights" Sequence="1560">
                <![CDATA[VersionNT And REMOVE <> "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CADeleteBOINCGroups" Sequence="1561">
                <![CDATA[VersionNT And REMOVE = "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>

            <!-- After InstallFinalize (6600) -->
            <Custom Action="CAValidateInstall" Sequence="6602">
                <![CDATA[REMOVE <> "ALL"]]>
            </Custom>
            <Custom Action="CAValidateRebootRequest" Sequence="6603">
                <![CDATA[REMOVE <> "ALL" AND RETURN_REBOOTREQUESTED = "1"]]>
            </Custom>
            <Custom Action="CACreateClientAuthFile" Sequence="6604">
                <![CDATA[VersionNT And NOT Installed]]>
            </Custom>
            <Custom Action="CACreateAcctMgrLoginFile" Sequence="6605">
                <![CDATA[NOT Installed]]>
            </Custom>
            <Custom Action="CACreateProjectInitFile" Sequence="6606">
                <![CDATA[NOT Installed]]>
            </Custom>
            <Custom Action="CASetPermissionBOINC" Sequence="6607">
                <![CDATA[VersionNT And REMOVE <> "ALL"]]>
            </Custom>
            <Custom Action="CASetPermissionBOINCData" Sequence="6609">
                <![CDATA[VersionNT And REMOVE <> "ALL"]]>
            </Custom>
            <Custom Action="CASetPermissionBOINCDataProjects" Sequence="6610">
                <![CDATA[VersionNT And REMOVE <> "ALL"]]>
            </Custom>
            <Custom Action="CASetPermissionBOINCDataSlots" Sequence="6611">
                <![CDATA[VersionNT And REMOVE <> "ALL"]]>
            </Custom>
            <Custom Action="CARestorePermissionBOINCData" Sequence="6612">
                <![CDATA[VersionNT And REMOVE = "ALL" AND ENABLEPROTECTEDAPPLICATIONEXECUTION3 = 1]]>
            </Custom>
            <Custom Action="CASaveExecutionState" Sequence="6614" />

            <!-- Ending actions, saves properties for uninstallation -->
            <Custom Action="CASaveSetupState" After="InstallFinalize" />
        </InstallExecuteSequence>

        <InstallUISequence>
            <!-- Before InstallValidate -->
            <Custom Action="CARestoreExecutionState" Sequence="1352" />
            <Show Dialog="CustomExitDlg" OnExit="success">1</Show>
        </InstallUISequence>
        <AdminUISequence>
            <!-- Specifies that the ending dialog is the out custom one -->
            <Show Dialog="CustomExitDlg" OnExit="success">1</Show>
        </AdminUISequence>
    </Product>
</Wix>
