# BOINC fixes to light-background themes

table a:not(.btn), .table a:not(.btn), table a, .table a, a {
    text-decoration: none;
}

table a:hover, .table a:hover, a:hover {
    text-decoration: underline;
}

blockquote {
    font-size: 15px;
}

.bg-primary a {
    color: white;
    text-decoration: underline;
}

.form-horizontal .control-label {
    padding-top: 0px;
}
