# fixes to dark-backround themes to increase legibility
# link color: EA9185
# possible banner: 5E8A7B
# panel backgd: 464938
# overall backgd:  393917

body, navbar-text, panel {
    color:white;
}

.panel-body .table {
    background-color: #303030;
}

table a:not(.btn), .table a:not(.btn), a:not(.btn) {
    color: #EA9185;
    text-decoration: none;
}

table a:hover, .table a:hover, a:hover {
    color:  #EA9185;
    text-decoration: underline;
}

table a:visited:not(.btn), .table a:visited:not(.btn), a:visited:not(.btn) {
    color:  #EA9185;
    text-decoration: underline;
}

.nav.navbar-nav li a, .nav.navbar-nav li a:hover, .nav.navbar-nav li a:visited {
    color: white;
}

.navbar-default .navbar-header, .navbar-brand {
    color: white !important;
}
.navbar-default .navbar-header a:hover {
    color: white;
}

hr {
    border-color: #d0d0d0;
}

img.icon {
    padding: 3px;
    background-color: lightgray;
}

blockquote {
    font-size: 15px;
    border-color: gray;
}

pre, code {
    color:white;
    background-color: #333;
}

.select2-container {
    color: #000;
}
