a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:active {
    color: blue;
}

body , table , input , select {
    background-color: white;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 12px;
}

body {
    background-color: white;
    color: black;
}

th{
    background-color: #c8c8c8;
    font-weight: bold;
}

td {
    border: 1px solid white;
}

td.bordered {
    border: 1px solid gray;
}

td.shaded {
    background-color: #f0f0f0;
}

td.indent {
     border-left: 4px solid white;
}

td.heading {
    background-color: #d8d8d8;
    font-weight: bold;
}

td.heading2 {
    background-color:#c0c0ff;
    font-weight: bold;
}

td.fieldname {
    background-color: #eeeeee;
    text-align: right;
    vertical-align: top;
}

td.fieldvalue {
    vertical-align: top;
    font-weight: bold;
}

td.fieldname_error {          
    background-color: #ff8888;
    text-align: right;        
    vertical-align: top;      
}                             

td.fieldvalue_error {         
    background-color: #ff8888;
    vertical-align: top;      
    font-weight: bold;        
}                             

td.category {
    background-color: #dddddd;
}

td.navbar {
    border: 0px;
    text-align: center;
}

a.navbar:link {
    color: #ff9711;
    text-decoration: none;
}

a.navbar:visited {
    color: #ff9711;
    text-decoration: none;
}

a.navbar:hover {
    color: #ffc060;
    text-decoration: underline;
}

tr.row0 {
    background-color: rgb(217,217,217);
    text-align: left;
}

tr.row1 {
    background-color: rgb(237,237,237);
    text-align: left;
}

tr.subtitle {
    background-color: #eeeeee;
    font-weight: bold;
}

tr.message {
    background-color:#E0E0EF;
}

input , select {
    vertical-align: middle;
}

h1 , h2 {
    color: black;
    font-size: x-large;
    font-weight: normal;
    margin-top: 10px;
}

h3 , h4 {
    color: black;
    font-size: small;
    font-weight: bold;
}

img {
    border: 0px;
}

.title {
    font-size: small;
    font-weight: bold;
}

.description {
    font-size: 80%;
    font-weight: normal;
}

.authorcol {
    width: 115px;
    overflow: hidden;
}

.cellwrap{
    width: 100%;
    overflow: auto;
}

blockquote {
    border-left: 2px solid blue;
    background: #DDDDDD;
    padding-left: 3px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-style: italic;
}

#blockquote.postbody {
    border-style: inset;
    border-color: blue;
    background-color: rgb(240,240,255);
    padding-left: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 160px;
    font-style: oblique
} 

#thread {
    width: 100%;
    table-layout: fixed;
    overflow: overflow;
    word-wrap: break-word;
}

.sigdelim {
    width: 60%;
    height: 1px;
    background-color: black;
    color: black;
    border: 0;
    margin-right: 100%;
}

td.postheader{
    background-color: rgb(220,210,210);
    border-bottom: 1px solid rgb(190,190,200);
    border-left: none;
    border-right: none;
}

td.postbody {
    font-size: 9pt;
}

td.postfooter{
    background-color: rgb(220,210,210);
    border-top: 1px solid rgb(190,190,200);
    border-left: none;
    border-right: none;
}

tr.helpdeskseperator{
    height: 10pt;
}

tr.postseperator{
    background-color: rgb(200,200,200);
}

tr.postseperator td{
    border-top: 1px solid rgb(170,170,170);
    border-bottom: 1px      solid rgb(170,170,170);
}

td.threadline {
    text-align:left;
}

span.note{
    font-weight: normal;
    font-size: 0.9em;
}
span.news_date {
    color: rgb(100,100,100);
    font-size: 0.9em;
}

.code {
    font-family: "Consolas", "Courier New", courier, monospace;
    display: block;
    margin-left: 5em;
    border-left: 3px solid #ccaaaa; 
    padding-left: 1em;
    white-space: nowrap;
    overflow: auto;
    color: #000000;
}

* html body .code {
    /* IE hack */
    white-space: normal;
}

#news {
    background-color: #dddddd;
    vertical-align: top;
}

#news h2, #uotd h2, #mainnav h2 {
    font-size: 1.2em;
    font-weight: bold;
}

#news h3 {
    color: #666666;
    font-size: 1em;
    margin-bottom: 2px;
}

#news p {
    margin-top: 0px;
}

#uotd {
    background-color: #ffeeff;
    vertical-align: top;
}

.smalltext {
    font-size: 0.8em;
}

.error {
    color: #ff0000;
    font-weight: bold;
    font-size: 1.1em;
}

.notice {
    color: #009900;
    font-weight: bold;
    font-size: 1.1em;
}

#preview {
    border: 2px solid #cccccc;
    background-color: #eeeeee;
    margin: 1em;
    padding: 0.2em;
}

#preview .header {
    font-weight: bold;
    font-size: 1.3em;
    border-bottom: 1px solid #cccccc;
}
