<?xml version="1.0" encoding="utf-8"?>
<!--
  This file is part of BOINC.
  http://boinc.berkeley.edu
  Copyright (C) 2012 University of California
  
  BOINC is free software; you can redistribute it and/or modify it
  under the terms of the GNU Lesser General Public License
  as published by the Free Software Foundation,
  either version 3 of the License, or (at your option) any later version.
  
  BOINC is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Lesser General Public License for more details.
  
  You should have received a copy of the GNU Lesser General Public License
  along with BOINC.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.boinc"
    android:installLocation="internalOnly"
    android:versionCode="72"
    android:versionName="7.5.0" > <!-- installation on SD card would break boot receiver -->


    <!-- Add Google Play store metadata informing the store we can run on tablets and other large screen devices -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/boinc"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled"
        android:largeHeap="true">

        <activity
            android:name="edu.berkeley.boinc.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.Styled.NoActionBar"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.berkeley.boinc.BOINCActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:exported="true" >
        </activity>
        <activity android:name="edu.berkeley.boinc.attach.AcctMgrFragment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.berkeley.boinc.BOINCActivity" />
        </activity>
        <activity
            android:name="edu.berkeley.boinc.attach.SelectionListActivity"
            android:theme="@style/Theme.Styled.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.boinc.attach.CredentialInputActivity"
            android:theme="@style/Theme.Styled.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="edu.berkeley.boinc.attach.BatchProcessingActivity"
            android:theme="@style/Theme.Styled.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.boinc.attach.BatchConflictListActivity"
            android:theme="@style/Theme.Styled.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.boinc.attach.IndividualAttachActivity"
            android:theme="@style/Theme.Styled.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="edu.berkeley.boinc.attach.AttachProjectRegistrationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.berkeley.boinc.AttachProjectListActivity" />
        </activity>
        <activity
     		android:name="edu.berkeley.boinc.attach.AttachProjectWorkingActivity"
            android:configChanges="orientation"
            android:noHistory="true" />
        <activity android:name="edu.berkeley.boinc.EventLogActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.berkeley.boinc.BOINCActivity" />
        </activity>

        <service android:name="edu.berkeley.boinc.client.Monitor" android:process=":remote">
        </service>
        <service android:name="edu.berkeley.boinc.attach.ProjectAttachService">
        </service>

        <receiver android:name="edu.berkeley.boinc.receiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="edu.berkeley.boinc.receiver.PowerConnectedReceiver" >
	        <intent-filter>
	            <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
	        </intent-filter>
        </receiver>
        <receiver android:name="edu.berkeley.boinc.receiver.PackageReplacedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:path="edu.berkeley.boinc" android:scheme="package" />
            </intent-filter>
        </receiver>
        <activity android:name=".BoincNotExclusiveDialog" android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>
