/* $Id: comments.css,v 1.5 2009/11/01 20:54:20 johnalbin Exp $ */

/**
 * @file
 * Comment Styling
 */


#comments /* Wrapper for the list of comments and its title */ {
  margin: 0;
}

#comments .title /* Heading for the list of comments */ {
}

.comment /* Wrapper for a single comment */ {
  border-top: 1px dotted #aaa;
  position: relative;
}

.comment-preview /* Preview of the comment before submitting new or updated comment */ {
}

.comment.new /* A new comment since the user last viewed the page. */ {
}

.comment.first /* The first comment in the list of comments */ {
  border-top: 1px dotted #aaa;
}

.comment.odd /* An odd-numbered comment in the list of comments */ {
  background-color: #fcfcf8;
}

.comment.even /* An even-numbered comment in the list of comments */ {
}

.comment.last /* The last comment in the list of comments */ {
}

.comment-unpublished /* Unpublished comments */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. See also the div.unpublished declaration in the nodes.css. */ {
}

.comment-by-anonymous /* A comment created by an anonymous user */ {
}

.comment-by-node-author /* A comment created by the node's author */ {
}

.comment-by-viewer /* A comment created by the current user */ {
}

.comment h3.title /* Comment title */ {
  margin-bottom: 1px;
  padding: 0;
}
.comment h3.title a {
  color: #000;
}
.comment h3.title a:hover {
  text-decoration: none;
}

.new /* "New" marker for comments that are new for the current user */ {
  color: #c00;
}

.comment .picture /* The picture of the comment author */ {
  max-height: 100px;
  overflow: hidden;
}
div.node-type-forum {
  position: relative;
}
div.node-type-forum.not-first-page {
  padding-bottom: 4px;
}
.node-type-forum h2.title {
}
.node-type-forum.not-first-page h2.title {
  margin-bottom: 0;
}
.comment .user,
.node-type-forum .user,
#comment-form .user {
  padding: 24px 3px 24px 16px;
  position: absolute;
  right: 0;
  width: 130px;
}
.comment .user,
#comment-form .user {
}
#comment-form .user {
  height: auto;
}
.comment .user .picture img,
#comment-form .user .picture img {
  margin: 0;
  width: 100px;
}
.comment .user .name,
.node-type-forum .user .name,
.node-type-team-forum .user .name,
#comment-form .user .name {
  color: #5A5758;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 8px 0 2px;
  text-transform: uppercase;
}
.comment .user .join-date,
.comment .user .post-count,
.comment .user .credit,
.comment .user .rac,
.node-type-forum .user .join-date,
.node-type-forum .user .post-count,
.node-type-forum .user .credit,
.node-type-forum .user .rac,
.node-type-team-forum .user .join-date,
.node-type-team-forum .user .post-count,
.node-type-team-forum .user .credit,
.node-type-team-forum .user .rac,
#comment-form .user .join-date,
#comment-form .user .post-count,
#comment-form .user .credit,
#comment-form .user .rac {
  font-size: 10px;
  color: #999;
  letter-spacing: 1px;
  line-height: 13px;
  margin-left: 1px;
}
.comment .user .user-links,
.node-type-forum .user .user-links,
.node-type-team-forum .user .user-links {
  padding-top: 8px;
}
.comment .user .ignore-link,
.comment .user .pm-link,
.node-type-forum .user .ignore-link,
.node-type-team-forum .user .ignore-link,
.node-type-forum .user .pm-link,
.node-type-team-forum .user .pm-link {
  font-weight: bold;
}
.comment .user .ignore-link a,
.comment .user .pm-link a,
.node-type-forum .user .ignore-link a,
.node-type-team-forum .user .ignore-link a,
.node-type-forum .user .pm-link a,
.node-type-team-forum .user .pm-link a {
  color: #808080; /*#5A5758;*/
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.comment-body,
.node-type-forum .node-body,
.node-type-team-forum .node-body,
#comment-form .form-body {
  margin: 16px 150px 16px 0;
  padding: 8px 16px 8px 3px;
  border-right: 1px dotted #aaa;
  min-height: 225px;
}
#comment-form .form-body {
  border: none;
  margin-bottom: 12px;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}
#comment-form .form-control,
#comment-form .bbcode_help {
  margin-right: 150px;
  margin-bottom: 0;
}
.comment-body .links,
.node-type-forum .node-body .links,
.node-type-team-forum .node-body .links {
  margin: 0;
  width: 640px;
}
.comment-body .links li.first {
  /*padding-left: 0;*/
}
.node-type-forum .user .pm-link,
.node-type-team-forum .user .pm-link {
}
.node-type-forum .node-body .links,
.node-type-team-forum .node-body .links {
}
.comment .user .pm-link {
}
.comment-body .links,
.node-type-forum .node-body .links,
.node-type-team-forum .node-body .links {
}
.comment-body .standard-links ul.links li,
.comment-body .moderator-links li,
.node-type-forum .node-body .links li,
.node-type-team-forum .node-body .links li {
  border-left: 1px solid #808080;
  margin-left: 0.3em;
  margin-right: 0.3em;
  padding: 0 0 0 0.6em;
}
.comment-body .moderator-links li.first,
.node-type-forum .node-body .moderator-links .links li.first,
.node-type-team-forum .node-body .moderator-links .links li.first,
.comment-body .links li.comment_forbidden.first.last,
.comment-body .links li.comment_forbidden.last,
.node-type-forum .node-body .links li.comment_forbidden.last,
.node-type-team-forum .node-body .links li.comment_forbidden.last {
  border-width: 0;
  margin-left: 0;
  padding-left: 0;
}
.node-type-forum .terms,
.node-type-team-forum .terms {
  float: right;
}
.node-type-forum .terms .links,
.node-type-team-forum .terms .links {
  width: auto;
  position: relative;
}
.node-type-forum #content .box,
.node-type-team-forum #content .box,
.node-type-news #content .box {
  margin: 24px 0 0 0;
}
.node-type-forum #content .box label,
.node-type-team-forum #content .box label,
.node-type-news #content .box label,
#comment-form .form-item label {
  width: auto;
  margin-right: 32px;
  line-height: 22px;
}

.block .content h2 {
  margin-top: 0;
}
.block .content .box h2,
#block-node_comment_block-forum_comment_form h2,
#block-node_comment_block-team-forum_comment_form h2 {
  margin-bottom: 24px;
  border-bottom: 1px dotted #aaa;
  padding-bottom: 0.667em;
}

.comment .submitted, /* The "posted by" information */
.comment .comment-id,
.comment .standard-links,
.comment .moderator-links,
.node-type-forum .submitted,
.node-type-forum .topic-id,
.node-type-forum .standard-links,
.node-type-forum .moderator-links,
.node-type-team-forum .submitted,
.node-type-team-forum .topic-id,
.node-type-team-forum .standard-links,
.node-type-team-forum .moderator-links {
  color: #808080;
  display: inline;
  font-size: 10px;
  font-style: italic;
}
.comment .moderator-links,
.node-type-forum .moderator-links,
.node-type-team-forum .moderator-links {
  display: block;
}
.moderator-links .label {
  display: none;
}
.comment .comment-id a,
.comment .standard-links ul.links li a,
.comment .moderator-links a,
.node-type-forum .topic-id,
.node-type-forum .standard-links a,
.node-type-forum .moderator-links a,
.node-type-team-forum .topic-id,
.node-type-team-forum .standard-links a,
.node-type-team-forum .moderator-links a,
.comment .style-like-link,
.node-type-forum .style-like-link,
.node-type-team-forum .style-like-link {
  color: #aaa;
  font-weight: bold;
  text-transform: uppercase;
}
.node-type-forum .topic-id,
.node-type-team-forum .topic-id {
  display: none;
}

.comment .content, /* Comment's content wrapper */
.node-type-forum .content,
.node-type-team-forum .content {
  padding: 0;
}

.comment .user-signature, /* The user's signature */
.node-type-forum .user-signature,
.node-type-team-forum .user-signature {
  color: #808080;
}

.comment ul.links /* Comment links. See also the ul.links declaration in the pages.css. */ {
/*  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #808080;
  letter-spacing: 1px; */
}

.indented /* Nested comments are indented */ {
  /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
}

.preview .comment /* Preview of the comment before submitting new or updated comment */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  border: none;
  margin-top: 24px;
  padding-top: 0;
}
.preview h2 {
  border-bottom: 1px dotted #aaa;
  margin-bottom: 24px;
  padding-bottom: 12px;
}

#comment-form .preview + .user {
  height: auto;
}
#comment-form .comment .user {
  border: none;
}

div.preview + .comment {
  padding-top: 24px;
  margin-top: 24px;
}

/* Comment form */
#comment-form #edit-comment-wrapper {
  margin: 0;
}
#comment-form #edit-subject-wrapper,
#comment-form #edit-comment-wrapper label {
}

/* BBcode styling */
.bb-code {
  width: 100%;
  border: 1px solid #bfd0d9;
  border-left: 4px solid #bfd0d9;
}
.bb-code-block {}
.bb-list {}
.bb-url {}
.bb-email {}
.bb-image {
  max-width: 100%;
  width: expression(this.width > 500 ? "500px" : this.width);
}
.bb-quote {}
.bb-quote-body {
  border: 1px dashed #ccc;
  padding: 16px;
  background-color: #f8f8f8;
}
.bb-table {
  border: 1px solid #660000;
}
.bb-hr {}
.bb-br {}

/* Vote Up/down */
.comment .vud-widget-updown {
  width: 48px;
  float: none;
  position: absolute;
  bottom: 8px;
  right: 36px;
}
.comment .vud-widget-updown .updown-score {
  border: none;
  float: none;
}
.comment .vud-widget-updown .updown-score .updown-current-score {
  display: inline;
  font-size: 10px;
}
.comment .vud-widget-updown .up-active, .vud-widget-updown .down-active,
.comment .vud-widget-updown .up-inactive, .vud-widget-updown .down-inactive {
  border: none;
}

.flag-wrapper {
    margin-left: -0.3em;
}

/* Really stupid, but since user preference for comments per page isn't
 * respected unless comment controls are enabled for a given content type,
 * we have to enable controls and then hide them in order for global settings
 * to do anything */
#comment-controls {
  display: none;
}
