/* $Id: comments.css,v 1.5 2009/11/01 20:54:20 johnalbin Exp $ */

/**
 * @file
 * Comment Styling
 */


#comments /* Wrapper for the list of comments and its title */ {
  margin: 1em 0;
}

#comments .title /* Heading for the list of comments */ {
}

.comment /* Wrapper for a single comment */ {
  padding: 16px;
}

.comment-preview /* Preview of the comment before submitting new or updated comment */ {
}

.comment.new /* A new comment since the user last viewed the page. */ {
}

.comment.first /* The first comment in the list of comments */ {
  border: none;
}

.comment.last /* The last comment in the list of comments */ {
}

.comment.odd /* An odd-numbered comment in the list of comments */ {
  background-color: #f9f8f4;
  border-style: dotted;
  border-color: #aaa;
  border-width: 1px 0;
}

.comment.even /* An even-numbered comment in the list of comments */ {
}

.comment-unpublished /* Unpublished comments */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. See also the div.unpublished declaration in the nodes.css. */ {
}

.comment-by-anonymous /* A comment created by an anonymous user */ {
}

.comment-by-node-author /* A comment created by the node's author */ {
}

.comment-by-viewer /* A comment created by the current user */ {
}

.comment h3.title /* Comment title */ {
  padding: 20px 0 0;
}
.comment h3.title a {
  color: #000;
}
.comment h3.title a:hover {
  text-decoration: none;
}

.new /* "New" marker for comments that are new for the current user */ {
  color: #c00;
}

.comment .picture /* The picture of the comment author */ {
  float: right;
  margin: 0 0 20px 20px;
}

.comment .submitted /* The "posted by" information */ {
  font-style: italic;
  font-size: 10px;
  color: #808080;
}

.comment .content /* Comment's content wrapper */ {
  padding: 30px 0 0;
}

.comment .user-signature /* The user's signature */ {
}

.comment ul.links /* Comment links. See also the ul.links declaration in the pages.css. */ {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #808080;
  letter-spacing: 1px; 
}

.indented /* Nested comments are indented */ {
  /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
}

.preview .comment /* Preview of the comment before submitting new or updated comment */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

/* BBcode styling */
.bb-code {
  width: 100%;
  border: 1px solid #bfd0d9;
  border-left: 4px solid #bfd0d9; 666699;
}
.bb-code-block {}
.bb-list {}
.bb-url {}
.bb-email {}
.bb-image {
  max-width: 100%;
  width: expression(this.width > 500 ? "500px" : this.width);
}
.bb-quote {}
.bb-quote-body {
  border: 1px dashed #ccc;
  padding: 16px;
  background-color: #f8f8f8;
}
.bb-table {
  border: 1px solid #660000;
}
.bb-hr {}
.bb-br {}
