/* $Id: forms.css,v 1.3 2009/08/12 08:37:42 johnalbin Exp $ */

/**
 * @file
 * Form Styling
 */

.node-form .text {
  width: 95%;
}
table .form-item label {
  width: auto;
  margin-right: 0;
}

fieldset {
  padding: 0;
}
fieldset fieldset {
  padding: 0.5em;
}
fieldset legend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  padding-left: 0;
}
fieldset.collapsible {
  margin: 2em 0;
}
fieldset.collapsible legend a {
  color: #000;
  font-size: 16px;
  margin-left: -4px;
  padding-left: 0.5em;
}
fieldset.collapsible fieldset,
fieldset.collapsible .fieldset-wrapper {
  margin: 0 1em;
}
fieldset.collapsible fieldset legend {
  margin-bottom: 1em;
}
fieldset.collapsible legend a:hover {
  text-decoration: none;
}

.form-item {
  clear: both;
}

.form-item,
.form-checkboxes,
.form-radios /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 0.5em 0;
}

.form-item.slim {
  margin-top: 0;
}

.form-item input[type="text"] {
  width: auto;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 2px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block;
  clear: left;
  float: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}
.form-item label,
.form-item .description {
  width: 320px;
  margin-right: 40px;
  font-size: 12px;
}
.panel-col-first .form-item label {
  width: 200px;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
  width: auto;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

table.preferences.combined {
  width: 100%;
}
table.preferences.combined .description {
  display: none;
}
table.preferences.combined .tab {
  padding: 3px 0;
  border: none;
  display: block;
}
.preferences .description,
.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 12px;
  clear: left;
  color: #707070;
  min-height: 16px;
}

table.ignore_user {
  width: 66%;
  margin-bottom: 2em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0;
  clear: none;
}
.form-radios .form-item {
  float: left;
}
.simple-form-controls .form-item .description,
.simple-form-controls .form-item label {
  width: auto;
  margin-right: 4px;
}
.simple-form-controls .form-item.venue {
  margin: 2em 0;
}
.simple-form-controls .form-item.venue label {
  font-weight: bold;
}
#prefs-wrapper .simple-form-controls .form-item label {
  float: none;
  line-height: inherit;
}
.form-radios.fancy .form-item input {
  position: absolute;
  z-index: -1000;
}
.form-radios.fancy .form-item label.option {
  padding: 0 5px;
  border-left: 1px solid #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  color: #707070;
  font-size: 12px;
  line-height: 20px;
  margin: 2px 0;
  width: auto;
}
.form-radios.fancy .form-item label.selected {
  color: #000;
}
.form-radios.fancy .form-item label.first.option {
  border-left: 0;
}

.form-item.venue form.jump-quickly {
}
form.jump-quickly input.form-submit {
  display: none;
}
#prefs-wrapper fieldset {
  padding-top: 0;
  margin: 2em 0;
}
#prefs-wrapper fieldset.ahah-container {
  margin: 0;
}

form ul.tab-list {
  padding: 30px 0 0;
  margin-bottom: 10px;
}
.form-submit /* The submit button */ {
  border: none;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 11px;
  color: #faa341;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.form-submit:hover {
  text-decoration: underline;
}
.form-submit.add_ignore_user {
  margin-top: 1em;
}

/* Form submit 'disabled' with javascript.*/
.form-submit[disabled] {
  color: #fccf9c;
  text-decoration: none;
  cursor: not-allowed;
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}

.tips /* Tips for Drupal's input formats */ {
}


/*
 * Comment form
 */
#comment-form {
  position: relative;
}
#comment-form .user {
  height: 100%;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-left: 1px dotted #aaa;
}
#comment-form .form-item input[type="text"] {
  width: 100%;
}


/*
 * Login form
 */
#user-login .form-item,
#user-pass .form-item {
  margin: 1.5em 0;
}
#user-login .form-item label,
#user-pass .form-item label {
  margin-right: 20px;
  width: 140px;
}
#user-login .form-item input,
#user-pass .form-item input {
  width: 250px;
}
#user-login .description {
  display: none;
}
#user-pass .description {
  margin-left: 160px;
  width: 250px;
}
#user-login .form-submit,
#user-pass .form-submit {
  margin-top: 14px;
}

span.password-strength,
span.password-confirm {
  color: #707070;
}
#user-register span.password-strength,
#user-register span.password-confirm {
  margin-left: 7px;
}

/*
 * Search form and results
 */
.section-find .box{

  margin-top: 2.0em;
  padding-top: 1.0em;
  border-top: 2px dotted #aaa;
}
#search label[for=edit-keys] {
  /* like an h1 heading */
  font-size: 2em;
  font-weight: bold;
  line-height: 1.3em;
  text-transform: uppercase;
}
.section-find .box h2 {
  display: none;
}
.section-find .box .content h2 {
  display: block;
}

.section-find .result {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px dotted #ccc;
  clear: both;
}
.section-find .result .title,
.section-find .result.user .name {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}
.section-find .result .details p {
  margin: 0.25em 0;
}
.section-find .result .search-info,
.section-find .result.user .user-stats {
  color: #808080;
}

.section-find .result.user .picture {
  width: 110px;
  float: left;
}
.section-find .result.user .picture img {
  margin: 0;
}
.section-find .result.user .user-stats {
  font-size: 0.85em;

}


/*
 * Search (search-theme-form.tpl.php)
 */
#search-box /* Wrapper for the search form */ {
}

#edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */ {
  display: none;
}


/*
 * Search (search-block-form.tpl.php)
 */
#search-block-form /* Wrapper for the search form */ {
}

#edit-search-block-form-1-wrapper label /* Label that says "Search this site:" */ {
  display: none;
}


/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left; /* LTR */
}


/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

#user-login-form li.openid-link /* The "Log in using OpenID" link. */ {
  margin-top: 1em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link /* The "Cancel OpenID login" link. */ {
  margin-top: 1em;
}

#user-login ul {
  margin: 1em 0;
}

#user-login li.openid-link,
#user-login li.user-link /* The OpenID links on the /user form. */ {
  margin-left: -2em; /* LTR */ /* Un-do all of the padding on the ul list. */
}


/* Account info form */
#user-profile-form #edit-mail-wrapper .description {
  display: none;
}
#user-profile-form .password-parent {
  float: left;
}
#user-profile-form .password-parent span.password-strength,
#user-profile-form .confirm-parent span.password-confirm {
  display: block;
  padding-top: 7px;
}
#user-profile-form .password-parent span.password-strength {
  margin-left: 360px;
}
#user-profile-form .confirm-parent {
  float: left;
  clear: none;
  margin-left: 7px;
}
#user-profile-form .confirm-parent label {
  display: none;
}
#user-profile-form #edit-pass-wrapper .password-description {
  clear: both;
  margin-left: 360px;
  width: 383px;
}
#user-profile-form #edit-pass-wrapper .description {
  display: none;
}
#user-profile-form #edit-current-pass-wrapper .description {
  display: none;
}
#user-profile-form .form-submit {
  margin: 0;
  padding: 0;
}
#user-profile-form fieldset {
  margin-top: 2em;
}
#user-profile-form fieldset legend {
  margin-bottom: 1em;
}

#delete-instructions {
  line-height: 24px;
  margin-right: 40px;
}

#delete-password-field #edit-current-pass-wrapper.form-item {
  padding-top: 10px;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in html-elements.css, but restore them for the admin
 * section of the site.
 */

form tbody {
  border-top: 1px solid #ccc;
}

form th,
form thead th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody th {
  border-bottom: 1px solid #ccc;
}


/*
 * Preferences
 */
.simple-form-controls .description {
  min-height: auto;
}

fieldset.advanced-settings {
  padding: 0;
}
fieldset.advanced-settings fieldset {
  padding-bottom: 0;
}
fieldset.advanced-settings .fieldset-wrapper {
  margin: 0;
}
form ul.form-control {
  margin: 1.5em 0 0.5em;
  padding: 0;
  /*position: absolute;
  bottom: 1em;
  left: 0;
  width: 100%;*/
}
html.js fieldset.collapsible legend a,
.form-control li.tab,
.form-control li.tab a,
.form-control li.tab .form-submit {
  /* background: transparent; */
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 11px;
  color: #525758;
  cursor: pointer;
}
.fieldset-wrapper .form-item:first-child {
  margin-top: 0.5em;
}
.fieldset-wrapper .form-item div .form-item:first-child {
  margin-top: auto;
}
.form-control li.tab {
  margin: 0 0 0 1em;
  padding: 0 0 0 1em;
}
.form-control li.first.tab {
  color: #faa341;
  margin-left: 0;
  padding: 0;
  border: none;
}
.form-control li.first.tab .form-submit {
  color: #faa341;
}
.form-control li.first.alt.tab {
  margin-right: 25px;
}

.preferences.combined .section-heading td {
  padding-top: 2.5em;
}

#edit-prefs-advanced-processor-start-hour-wrapper,
#edit-prefs-advanced-processor-end-hour-wrapper,
#edit-prefs-advanced-network-net-start-hour-wrapper,
#edit-prefs-advanced-network-net-end-hour-wrapper,
#edit-prefs-advanced-network-daily-xfer-limit-mb-wrapper,
#edit-prefs-advanced-network-daily-xfer-period-days-wrapper,
#edit-comments-per-page-wrapper {
  display: inline;
}

#edit-signature-wrapper,
#edit-signature-wrapper .description {
  width: 550px;
  margin: 0;
}
#edit-comments-per-page-wrapper label[for=edit-comments-per-page] {
  padding-bottom: 20px;
}

#communityprefs-form .form-link {
  line-height: 24px;
}
#communityprefs-form .filefield-element {
  margin-bottom: 16px;
}
#communityprefs-form .filefield-upload {
  margin-bottom: 10px;
}
#communityprefs-form label.placeholder {
  color: #707070;
  font-size: 12px;
}


/*
 * Rich text editor
 */
#tinymce {
  font-size: 12px;
  line-height: 1.4em;
  margin: 16px;
}
.wysiwyg ul.tips {
  display: none;
}
.wysiwyg-toggle-wrapper {
  margin: 5px 0;
}
.wysiwyg-toggle-wrapper a {
  color: #808080;
}
.wysiwyg-toggle-wrapper a:before {
  content: "(";
}
.wysiwyg-toggle-wrapper a:after {
  content: ") ";
}

.standalone-image {
}
.image-left {
  float: left;
}
.image-right {
  float: right;
}
.caption {
  font-size: .9em;
  font-style: italic;
  padding-bottom: 7px;
  text-align: center;
}

/* Hide useless buttons */
.mce_convert_linebreaks {
  visibility: hidden;
}

/* Center emoticons */
#tinymce img,
.comment img {
  margin: -2px 0 0;
  vertical-align: bottom;
}

/* Hide rich text areas on submit */
#edit-comment,
#edit-content,
#edit-signature {
	color: #fff;
	background-color: #fff;
	padding: 0;
	width: 100%;
}

/* Styling when rich text is disabled */
#edit-comment.textarea-processed,
#edit-content.textarea-processed,
#edit-signature.textarea-processed {
  color: inherit;
  font-size: 12px;
  line-height: 1.4em;
  padding: 16px;
}

/*
 * CKEditor
 */

body.cke_editable {
  background: #ffffff;
  font-size: 12px;
  line-height: 1.4em;
  margin: 16px;
}

.form-item label[for=edit-signature],
.form-item label[for=edit-body],
.form-item label[for=edit-field-background-0-value],
.form-item label[for=edit-field-opinions-0-value] {
  float: inherit;
}

/* Re-captcha tweaks */
.captcha {
	margin-left: 360px;
}
#recaptcha_response_field {
	left: 0;
}
/* This id cancels out the above margin-left for .captcha*/
#captcha-on-left {
        margin-left: -360px;
}
/*Custom captcha margin for password reset form*/
#captcha-password-reset {
	margin-left: -200px;
}

/* Task App filter */
select.task-app-filter {
  width: 120px;
  white-space: nowrap;
}

/* Team email members forms */
#sendmessageteammembers-header {
  ;
}

#sendmessageteammembers-instructions {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 40px;
}

