/* $Id: pages.css,v 1.18.2.3 2010/06/26 17:18:58 johnalbin Exp $ */

/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#page-wrapper {
}

#page {
}

/*
 * The skip navigation link will be completely hidden until a user tabs to the
 * link. See http://www.webaim.org/techniques/skipnav/
 */
#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */
#header {
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0 auto;
  max-width: 960px;
  font-size: 45px;
  line-height: 96px;
}

#site-name a:link,
#site-name a:visited {
  color: #FFF;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  clear: both;
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
  position: relative;
}

#mission /* The mission statement of the site (displayed on homepage) */ {
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
  display: inline-block;
  float: left;
  width: 60%;
}
.breadcrumb.bottom-breadcrumb {
  margin-top: 39px;
  width: 100%;
}

a:link, a:visited {
  color: #faa341;
  text-decoration: none;
}
a:link:hover {
  text-decoration: underline;
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
h2.title a {
  color: #5A5758;
}

thead th {
  /*background: #fff url(../images/heading-bg.png) repeat-x bottom;
  border-bottom: 1px solid #ccc;
  color: #494949;
  font-weight: bold;
  text-align: center;*/
}

td, th {
  padding: .3em .5em;
}
td {
  padding: 7px 5px;
  border-bottom: 1px dotted #aaa;
  vertical-align: top;
}
td.task-name,
td.task-app {
  word-break: break-all;
}
tr.heading {
  font-weight: bold;
}
tr.heading > td {
  padding-top: 38px;
}
th.primary, td.primary {
  font-size: 1.5em;
}
th.active img {
  margin: 0 0 0 5px;
}
tr.even, tr.odd {
  background-color: transparent;
  border: none;
  padding: 0;
}
tr.even /* Some tables have rows marked even or odd. */ {
  /*background-color: #f2f2f2;*/
}

tr.odd {
  /*background-color: #dedede; */
}
tr.even td.active,
tr.odd td.active {
  background-color: transparent;
}
tbody tr:hover {
  background-color: #fbfbfa;
}
table.sticky-header {
  background-color: #d1d1d1;
}

table.tableSelect-processed {
  width: 100%;
}
table.tableSelect-processed th {
  line-height: 21px;
  padding-bottom: 4px;
}
table.tableSelect-processed th.select-all {
  padding-bottom: 2px;
}
table.tableSelect-processed td {
  line-height: 21px;
}
table.selection-list .form-checkboxes {
  margin: 0;
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 0 0 16px;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.ok {
  color: #008000;
}

div.tabs /* See also the tabs.css file. */ {
}

.fine-print {
  color: #bbb;
}

.framing {
  padding: 25px;
}

.shadow {
  -webkit-box-shadow:0 0 16px #ebebeb;
  -moz-box-shadow:0 0 16px #ebebeb;
  box-shadow: 0 0 16px #ebebeb;
}
.container {
  background-color: #fff;
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
  display: inline;
  font-weight: bold;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}
ul.links li.first {
  border: none;
  padding-left: 0;
}
ul.links li a {
  color: #faa341;
  text-transform: uppercase;
}

.subscribe {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.subscribe a {
  color: #5A5758;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 2.35em;
  text-transform: uppercase;
}
.subscribe .flag-message,
.view-subscriptions .flag-message {
  left: initial;
  right: 0;
  text-align: right;
}
.subscribe .flag-subscriptions {
  padding-left: .5em;
}

.toc {
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #aaa;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 100%;
}
.toc .toc-title {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 95%;
}
.toc ul {
  list-style-type: disc;
  margin: 0 0 16px;
  padding-left: 16px;
}
.toc ul li {
  padding-top: 5px;
}
.toc,
.toc a {
  color: #777;
}
.toc a:hover {
  color: #faa341;
  text-decoration: none;
}
.toc-back-to-top {
  background: transparent;
  font-style: inherit;
  padding: 0 0 10px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 10px;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  /*text-align: right; /* LTR */
  text-align: left;
  padding: 10px 0 0 5px;
  clear: both;
}
.more-link a {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.tab-list.more-link {
  margin: 10px 5px 0;
}
.tab-list.more-link li.first.alt.tab {
  padding-right: 0;
}
.tab-list .tab a,
.tab-list .first.alt.tab a {
  color: #525758;
}
.tab-list .first.tab a{
  color: #faa341;
}

.on-time {
  color: #33cc33;
}
.past-due {
  color: #ff3333;
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Two column stacked panels
 */
.panel-2col-stacked .panel-col-first .inside {
  margin: 0 1em 1em 0;
}
.panel-2col-stacked .panel-col-last .inside {
  margin: 0 0 1em 1em;
}

/*
 * Footer
 */
#footer {
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 5px;
}

#footer .section {
}

#footer-menu {
  background: #ebebeb;
}
#footer-menu a {
  color: #000;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
}
#footer-menu a:hover {
  text-decoration: none;
}

#server-status {
  float: right;
  line-height: 40px;
  margin: 0 12px;
}
#server-status li {
  display: inline;
  padding-top: 4px;
  padding-bottom: 5px;
  letter-spacing: 0;
  /*background: url(../images/menu-divider.png) no-repeat left middle;*/
}
#server-status .tab {
  font-size: 11px;
}
#server-status li a {
}
#server-status-highlights {
  display: inline;
  padding: 0;
}
#server-status-highlights li {
  background: url(../images/icon-yellow-light.png) no-repeat left;
  border: none;
  margin-left: 12px;
  padding-left: 18px;
}
#server-status-highlights li.first {
  margin-left: 0;
}
#server-status-highlights li.good {
  background: url(../images/icon-green-light.png) no-repeat left;
}
#server-status-highlights li.bad {
  background: url(../images/icon-red-light.png) no-repeat left;
}

#footer-info {
  margin: 15px 0;
}
#content-management-links {
  margin: 12px 0;
}
#language {
  font-size: 12px;
  float: right;
  padding: 0 28px 0 0;
  background: url(../images/icon-us.png) no-repeat right;
}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
                   and for any blocks placed in the footer region */ {
}

.region-footer {
}

/*
 * Closure
 */
.region-page-closure /* Wrapper for any blocks placed in the closure region */ {
}

/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ {
}

.box h2 /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.separator {
  height: 1px;
  border-width: 2px 0 0;
  border-style: dotted;
  border-color: #aaa;
  margin: 2em 0;
}
.separator.buttons {
  border-top-width: 1px;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}


/**
 *
 */
a.button {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  background: #faa341;
  display: inline-block;
}
a.button:hover {
  text-decoration: none;
}

/**
 * Home page elements
 */
a.join.button {
  margin: 40px 0 0;
}

a.help.button {
  margin: 60px 0;
}

.tab-list .tab,
.stats, .stats .tab {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: normal;
}
/*.stats .tab {
  padding-left: 12px;
  padding-right: 12px;
}*/
.stats .first .tab, .stats .first.tab {
  padding-left: 0;
}
.stats .last .tab, .stats .last.tab {
  padding-right: 0;
}
.tab-list .tab,
.stats label, .stats a,
.stats .tab label, .stats .tab a {
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 1px;
}
.tab.alt {
  float: right;
}
.chart img {
  margin: 0;
  padding-top: 5px;
}
.page-account-dashboard .chart img {
  height: 155px;
  width: 589px;
}

table tr.link:hover {
}
table tr.inactive {
  color: #d0d0d0;
}
.page-account-dashboard table {
  width: 100%;
  margin: 0;
}
#mini-panel-dashboard_tables table tr td:first-child {
  width: 140px;
}
table.user-projects {
  margin: 0;
}

.item-count-wrapper {
  display: inline-block;
  height: 21px;
  margin-left: 10px;
  background: url(../images/speech-bubble-tail.png) no-repeat bottom center;
  vertical-align: middle;
}
.item-count {
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 5px 1px;
  background: #747477;
  vertical-align: top;
}

.item-list .pager {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.node-type-forum .item-list .pager {
  border-top: 1px dotted #aaa;
  margin-top: 0;
  padding-top: 16px;
}

.item-list .pager-item a,
.item-list .pager-first a,
.item-list .pager-previous a,
.item-list .pager-next a,
.item-list .pager-last a {
  color: #808080;
}
.item-list .pager-current a {
  color: #000;
}
.item-list .pager a:hover {
  text-decoration: none;
  color: #000;
}

/**
 * User profiles
 */
.user-profile .picture {
  float: left;
  max-height: 100px;
  overflow: hidden;
}
.user-profile .picture img {
  width: 100px;
  margin: 0;
}
.user-profile .general-info {
  margin: 0 0 5px 0;
  padding: 0 0 14px 120px;
  border-bottom: 1px dotted #AAA;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}
.user-profile .general-info ul.tab-list {
  margin-top: 10px;
}
.user-profile .bio {
  clear: both;
  margin: 5px 0;
  border-top: 1px dotted #AAA;
}
.user-profile .bio .messages {
  margin-top: 10px;
}
.user-profile .bio .background,
.user-profile .bio .opinions {
  padding-top: 14px;
}
.user-profile .general-info .name,
.user-profile .bio .background .label,
.user-profile .bio .opinions .label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
}
.user-profile .general-info .name {
  margin-top: 0;
}
.user-profile .bio .background .value,
.user-profile .bio .opinions .value {
  display: block;
}

/* Forums */
#forum-0 {
  margin-top: -32px; /* [TODO] Add search box and remove this! */
  margin-bottom: 32px;
}
#forum h2.title {
  margin: 14px 3px 16px;
}
#forum .heading .primary .name {
  text-transform: uppercase;
}
#forum .description {
  font-size: inherit;
  margin: 0;
}
#forum th {
  border: none;
}
#forum td {
  border-top: 1px dotted #aaa;
  border-bottom: none;
}
#forum tr.heading td {
  border-top: none;
}
#forum tr.sticky {
}

#forum tr.sticky:hover {
  background-color: #f6f6f2;
}
#forum tr.first td {
  /* border-color: #333; */
}
#forum tr.first-non-sticky td {
  /* border-color: #333; */
}
#forum tr.last td {
  border-bottom: 1px dotted #aaa;
}
#forum td.icon {
    color: #5A5758;
}
#forum td.title a {
  color: #5A5758;
}
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
  white-space: nowrap;
}
#forum td.posts, #forum td.topics, #forum td.replies, #forum td.pager {
  text-align: center;
}
#forum tr td.forum {
  padding-left: 5px;
  background-image: none;
}
#forum tr.new-topics td.forum {
  background-image: none;
}
#forum div.indent {
  margin-left: 0;
}
#forum > table {
  width: 100%;
}
#forum > .item-list { /* pager */
  float: right;
}
#forum > ul.links {
  float: left;
  font-size: 10px;
}
#forum > ul.links li {
  margin: 1em 0;
}
#forum .subscriptions {
  margin: 32px 5px;
}
#forum .topic.updated .title,
.view-subscriptions .title.updated {
  font-weight: bold;
}
.forum-topic-navigation {
  padding: 1em 0 0 3em; /* LTR */
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  text-align: center;
  padding: 0.5em;
  margin: 2em 0;
}
.forum-topic-navigation .topic-previous,
.forum-topic-navigation .topic-next {
  text-align: right; /* LTR */
  float: left; /* LTR */
  width: 46%;
  color: #808080;
}
.forum-topic-navigation .topic-next {
  text-align: left; /* LTR */
  float: right; /* LTR */
}

.node-type-forum .links {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #808080;
  letter-spacing: 1px;
}

.forum-links {
  width: 100%;
}

/* Join */
.join {
  font-size: 14px;
}
.join li {
  margin: 1em 0;
}

/* Search */
.page-search-site #content {
  width: 650px;
}
.page-search-site h1.title {
  display: none;
}
#search-form {
  margin-bottom: 1em;
}
#search-form #edit-keys-wrapper {
  margin-top: 0;
}
#search-form .form-item label {
  float: none;
}
#search-form .form-item label[for=edit-keys] {
  width: 120px;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: 0.5em;
  padding-bottom: 7px;
  float: left;
}
#search-form .form-item input#edit-keys {
  margin-top: 3px;
}
#search-form .form-submit {
  padding: 0;
}
.spelling-suggestions {
  border-top: 1px dotted #ccc;
}
.spelling-suggestions dt {
  float: left;
  margin-right: 5px;
}
.spelling-suggestions dt:after {
  content: ':';
}
.search-results {
  border-top: 2px dotted #aaa;
}
.search-results .result,
.search-results dt {
  border-top: 1px dotted #ccc;
  padding: 1em 0;
  clear: both;
}
.search-results .result:first-child,
.search-results dt:first-child {
  border: none;
}
.search-results .result.user .picture {
  width: 120px;
  margin-bottom: 30px;
  float: left;
  max-height: 100px;
  overflow: hidden;
}
.search-results .result.user .picture img {
  width: 100px;
  margin: 0;
}
.search-results .result.user .details,
.search-results .result.user .search-snippet {
  padding-top: 7px;
  margin: 0 0 0 120px;
}
.search-help-block {
  min-height: 54px;
}

/* Search pane */
.panel-secondary #search-form #edit-keys-wrapper {
  margin-right: 7px;
}
.panel-secondary #search-form label[for=edit-keys] {
  display: none;
}
.panel-secondary #search-form #edit-keys {
  width: 100%;
}


/* User registration */
#register-termsofuse {
  white-space: pre-line;
  overflow: auto;
  width: 80%;
  max-height: 300px;
}

#register-title2 {
  clear: both;
}
