/* $Id: pages.css,v 1.18.2.3 2010/06/26 17:18:58 johnalbin Exp $ */

/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#page-wrapper {
}

#page {
}

/*
 * The skip navigation link will be completely hidden until a user tabs to the
 * link. See http://www.webaim.org/techniques/skipnav/
 */
#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */
#header {
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0 auto;
  width: 960px;
  font-size: 45px;
  line-height: 96px;
}

#site-name a:link,
#site-name a:visited {
  color: #FFF;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  clear: both;
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

#mission /* The mission statement of the site (displayed on homepage) */ {
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

a:link, a:visited {
  color: #faa341;
  text-decoration: none;
}
a:link:hover {
  text-decoration: underline;
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

thead th {
  /*background: #fff url(../images/heading-bg.png) repeat-x bottom;
  border-bottom: 1px solid #ccc;
  color: #494949;
  font-weight: bold;
  text-align: center;*/
}

td, th {
  padding: .3em .5em;
}
td {
  padding: 7px 5px;
  border-bottom: 1px dotted #aaa;
}
tr.even, tr.odd {
  background-color: transparent;
  border: none;
  padding: 0;
}
tr.even /* Some tables have rows marked even or odd. */ {
  /*background-color: #f2f2f2;*/
}

tr.odd {
  /*background-color: #dedede; */
}
tr.even td.active,
tr.odd td.active {
  background-color: transparent;
}
tbody tr:hover {
  background-color: #f0f0f0;
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 0 0 16px;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
  height: 34px;
}

.framing {
  padding: 25px 25px 40px;
}
.framing .view {
  padding-top: 20px;
}

.shadow {
  -webkit-box-shadow:0 0 16px #ebebeb;
  -moz-box-shadow:0 0 16px #ebebeb;
  box-shadow: 0 0 16px #ebebeb;
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

.toc {
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #aaa;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 100%;
}
.toc .toc-title {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 95%;
}
.toc ul {
  list-style-type: disc;
  margin: 0 0 16px;
  padding-left: 16px;
}
.toc ul li {
  padding-top: 5px;
}
.toc,
.toc a {
  color: #777;
}
.toc a:hover {
  color: #faa341;
  text-decoration: none;
}
.toc-back-to-top {
  background: transparent;
  font-style: inherit;
  padding: 0 0 10px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 10px;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  /*text-align: right; /* LTR */
  text-align: left;
  padding: 10px 0 0 5px;
  clear: both;
}
.more-link a {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
#footer {
  width: 960px;
  margin: 0 auto;
  padding: 50px 5px;
}

#footer .section {
}

#footer-menu {
  background: #ebebeb;
}
#footer-menu a {
  color: #000;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
}
#footer-menu a:hover {
  text-decoration: none;
}

#server-status {
  float: right;
  line-height: 40px;
  margin: 0 12px;
}
#server-status li {
  display: inline;
  padding-top: 4px;
  padding-bottom: 5px;
  letter-spacing: 0;
  /*background: url(../images/menu-divider.png) no-repeat left middle;*/
}
#server-status .tab {
  font-size: 11px;
}
#server-status li a {
  text-transform: none;
}
#server-status-highlights {
  display: inline;
  padding: 0;
}
#server-status-highlights li {
  background: url(../images/icon-yellow-light.png) no-repeat left;
  border: none;
  margin-left: 12px;
  padding-left: 18px;
}
#server-status-highlights li.first {
  margin-left: 0;
}
#server-status-highlights li.good {
  background: url(../images/icon-green-light.png) no-repeat left;
}
#server-status-highlights li.bad {
  background: url(../images/icon-red-light.png) no-repeat left;
}

#footer-info {
  margin: 15px 0;
}
#language {
  font-size: 12px;
  float: right;
  padding: 0 28px 0 0;
  background: url(../images/icon-us.png) no-repeat right;
}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
                   and for any blocks placed in the footer region */ {
}

.region-footer {
}

/*
 * Closure
 */
.region-page-closure /* Wrapper for any blocks placed in the closure region */ {
}

/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ {
}

.box h2 /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}


/**
 *
 */
a.button {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  background: #faa341;
  display: inline-block;
}
a.button:hover {
  text-decoration: none;
}

/**
 * Home page elements
 */
a.join.button {
  margin: 60px 0 0;
}

a.help.button {
  margin: 60px 0;
}

.stats, .stats .tab {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: normal;
}
/*.stats .tab {
  padding-left: 12px;
  padding-right: 12px;
}*/
.stats .first .tab, .stats .first.tab {
  padding-left: 0;
}
.stats .last .tab, .stats .last.tab {
  padding-right: 0;
}
.stats label, .stats a,
.stats .tab label, .stats .tab a {
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 1px;
}


table tr.inactive {
  color: #d0d0d0;
}
table.user-projects {
  margin: 0;
}

.item-count-wrapper {
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 3px;
  background: url(../images/speech-bubble-tail.png) no-repeat bottom center
}
.item-count {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 5px 1px;
  background: #747477;
}

.item-list .pager {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; 
}
.item-list .pager-item a,
.item-list .pager-first a,
.item-list .pager-previous a,
.item-list .pager-next a,
.item-list .pager-last a {
  color: #808080;
}
.item-list .pager-current a {
  color: #000;
}
.item-list .pager a:hover {
  text-decoration: none;
  color: #000;
}

/* Forums */
.forum-topic-navigation {
  padding: 1em 0 0 3em; /* LTR */
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  text-align: center;
  padding: 0.5em;
  margin: 2em 0;
}
.forum-topic-navigation .topic-previous,
.forum-topic-navigation .topic-next {
  text-align: right; /* LTR */
  float: left; /* LTR */
  width: 46%;
  color: #808080;
}
.forum-topic-navigation .topic-next {
  text-align: left; /* LTR */
  float: right; /* LTR */
}

.node-type-forum .links {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #808080;
  letter-spacing: 1px; 
}
