/* $Id: tabs-rtl.css,v 1.2 2009/08/12 08:03:53 johnalbin Exp $ */

/**
 * @file
 * RTL companion for the tabs.css file.
 */


ul.primary {
  padding: 0 10px 0 0;
}

ul.primary li {
  float: right;
}

ul.secondary {
  padding: 0 5px 0 0;
}

ul.secondary li {
  float: right;
  border-left: none;
}
