<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>Installs BOINC Manager, screensaver and data</string>
	<key>IFPkgDescriptionTitle</key>
	<string>BOINC Manager</string>
</dict>
</plist>
