<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddRemoveUser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>BOINC_Client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Build_All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Install_BOINC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>MakeAppIcon_h.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>PostInstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ScreenSaver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SetUpSecurity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>SetVersion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Uninstaller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>WaitPermissions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>api_libboinc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>boinc_opencl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>cmd_boinc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>gfx2libboinc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>gfx_switcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>jpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libboinc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>mgr_boinc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>setprojectgrp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ss_app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>switcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD1277B2081F3D67007B5DE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD1AFEA40A512D8700EE5B82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD35353007E1E05C00C4718D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD3E14D30A774397007E0084</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD407A4907D2FB1200163EF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD4688400C165F3C0089F500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD6381E90870DC9D007A2F8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD69FEE708416C1300C01361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD7748970A356C880025D05E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD81C799144D8DA9000BE61A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD89161C0F3B17E900DE5B1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD96AFF80811075000A06F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDAEC9E007FA583B00A7BC36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDB219A310B3BB6100417AEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDB873E90C850BC800E0DE1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDBD680D07FA82BB0082C20D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDD0953E0A3EDD2500C95BA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDD336F51062235D00867C7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDD74D8607CF482E0065AC9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDF9EC02144EB14B005D6144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDFA60C90CB337D40037B88C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDFF2ACA0A53D4AE002BC19D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
