/**
 * Editor =============================================================
 */
div.context-editor div.label { float:left; }
div.context-editor div.links { float:right; }

div.context-editor div.context-editable { display:none; }
div.context-editor div.links a.done { display:none; }
div.context-editor li.context-editing a.edit { display:none; }
div.context-editor li.context-editing a.done { display:block; }

/* Don't display form submission buttons initially or when editing */
body.context-editing div.context-editor div.links { display:none; }
body.context-editing div.context-editor li.context-editing div.links { display:block; }

div.context-editor div.buttons { display:none; }
form.edited div.context-editor div.buttons { display:block; }
body.context-editing form.edited div.context-editor div.buttons { display:none; }

/**
 * Styles for visual integration with admin.
 */
#admin-toolbar div.context-editor div.links a:hover {
  background:#eee;
  color:#000;
  }

#admin-toolbar div.context-editor div.links a {
  float:left;

  padding:0px 10px;
  margin-right:5px;

  background:#222;
  font-size:11px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  }

div.context-editor div.context-editable { padding:5px 0px; }

#admin-toolbar div.context-editor div.buttons {
  padding:10px 0px;
  text-align:center;
  background:#111;
  }

/**
 * Horizontal
 */
#admin-toolbar.horizontal form.edited div.context-editor div.buttons,
#admin-toolbar.horizontal div.context-editor div.item-list {
  float:left;
  clear:left;
  width:30%;
  }

#admin-toolbar.horizontal div.context-editor div.contexts {
  width:69.9%;
  float:right;
  }

#admin-toolbar.horizontal div.context-editor div.context-editable { padding-left:20px }

/**
 * Admin listing page =================================================
 */
table.context-admin td.tag { font-style:italic; }

table.context-admin td.ctools-export-ui-name {
  width:75%;
  padding-left:20px;
  }

table.context-admin td.ctools-export-ui-operations { white-space:nowrap; }

table.context-admin td.ctools-export-ui-storage { color:#999; }

table.context-admin div.description {
  padding-left:10px;
  margin:0px;
  }

table.context-admin input.form-text { width:90%; }

/**
 * Context form =======================================================
 */
.context-plugins {
  position:relative;
  margin:0px 0px 10px;
  }

.context-plugins .context-plugin-info {
  padding:10px 10px 9px;
  border-bottom:1px solid #e8e8e8;
  }

.context-plugins .context-plugin-info div.description {
  margin:0px 0px 10px;
  padding:0px;
  }

.context-plugins .context-plugin-selector {
  width:25%;
  background:#fff;
  }

  .context-plugins .context-plugin-list .disabled { display:none; }

  .context-plugins .context-plugin-list ul {
    margin:0px;
    padding:0px;
    }

  .context-plugins .context-plugin-list li {
    list-style:none;
    list-style-image:none;
    background:transparent;

    padding:0px;
    margin:0px;
    border:0px;
    }

  .context-plugins .context-plugin-list li a {
    display:block;
    position:relative;
    padding:5px 10px 4px;
    border-bottom:1px solid #e8e8e8;
    }

  .context-plugins .context-plugin-list li a.active-form {
    background:#f8f8f8;
    color:#333;
    font-weight:bold;
    }

  .context-plugins .context-plugin-list li span.remove {
    display:none;
    position:absolute;
    top:5px;
    right:10px;

    font-size:9px;
    font-weight:normal;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:0px 5px;
    background:#fff;
    }

    .context-plugins .context-plugin-list li a:hover span.remove { display:block; }

.context-plugins .context-plugin-forms {
  float:right;
  width:75%;
  background:#f8f8f8;
  min-height:200px;
  }

  .context-plugins .context-plugin-forms .context-plugin-form {
    padding:10px;
    display:none;
    }

  .context-plugins .context-plugin-forms .active-form { display:block; }

  .context-plugins .context-plugin-form .form-checkboxes {
    max-height:300px;
    overflow:auto;
    }
