/* $Id: help-icon.css,v 1.5 2008/10/17 19:38:00 merlinofchaos Exp $ */

.advanced-help-link {
  width: 12px;
  height: 12px;
  background: transparent url('help.png') no-repeat top left;
  background-position: 0px 0px;
  display: block;
  float: left; /* this is cheesy, I know */
  margin-top: 2px;
  padding: 0px;
}

.advanced-help-link span {
  display: none;
}

.advanced-help-link:hover {
  background-position: 0px -12px;
}