<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddRemoveUser.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>BOINC_Client.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Build_All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Install_BOINC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>PostInstall.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ScreenSaver.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SetUpSecurity.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SetVersion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Uninstaller.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>api_libboinc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>boinc_finish_install.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>boinc_opencl.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>cmd_boinc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>gfx2libboinc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>gfx_switcher.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>jpeg.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libboinc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>mgr_boinc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>setprojectgrp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ss_app.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>switcher.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
</dict>
</plist>
