h1 {
    font-variant: small-caps;
    font-size: 24pt;
}

pre {
    font-size: medium;
}

code {
    font-size: medium;
}

a:link {
	color: blue;
}

a:visited {
	color: blue;
}

a:active {
	color: blue;
}

body , table , input , select {
	font-family: Verdana, Arial, Sans Serif;
	font-size: small;
}

body {
	background-color: white;
    color: black;
}

th {
    border-bottom: 2px solid white;
	background-color: navy;
	color: gold;
	font-weight: bold;
}

td.indent {
         border-left: 4px solid white;
}

td.heading {
        background-color: rgb(217,217,217);
	    font-weight: bold;
}

td.fieldname {
        background-color: rgb(237,237,237);
}

td.category {
        border: 1px solid black;
}

tr.row0 {
        background-color: rgb(217,217,217);
}

tr.row1 {
        background-color: rgb(237,237,237);
}

tr.subtitle {
	background-color: white;
	color: black;
	font-weight: bold;
}

tr.message {
           background-color:#E0E0EF;
}

input , select {
	vertical-align: middle;
}

img {
    border: 0px;
}

.title {
	font-size: small;
	font-weight: bold;
}

.description {
	font-size: 80%;
	font-weight: normal;
}
