# color scheme:
# light background (for <pre>)
# d5f0ff (213, 240, 255)
# medium background (for table headings)
# (157, 221, 255)

h1 {
    font-variant: small-caps;
    font-size: 20pt;
}

pre {
    font-size: medium;
}

code {
    font-size: medium;
}

a:link, :visited, :active{
	color: rgb(0, 105, 161);
    text-decoration: none;
	font-weight: bold;
}

a:hover {
    color: rgb(232, 174, 0);
	font-weight: bold;
}

body , table , input , select {
	font-family: "Trebuchet MS", Verdana, Arial, Sans Serif;
#font-size: 16px;
}

table.box {
    border: solid lightblue;
    padding: 8;
}

body {
	background-color: white;
    color: black;
}

span.note{
	font-weight: normal;
    font-size: 0.9em;
}
span.news_date {
    color: rgb(100,100,100);
    font-size: 0.9em;
}

pre {
	background-color: rgb( 213, 240, 255);
}

th {
	background-color: rgb(157, 221, 255);
	color: black;
	font-weight: bold;
}

td.indent {
         border-left: 4px solid white;
}

td.heading {
        background-color: rgb(157, 221, 255);
	    font-weight: bold;
}

td.fieldname {
        background-color: rgb(213, 240, 255);
}

td.category {
        border: 1px solid black;
}

tr.row0 {
        background-color: rgb(217,217,217);
}

tr.row1 {
        background-color: rgb(237,237,237);
}

tr.subtitle {
	background-color: white;
	color: black;
	font-weight: bold;
}

input , select {
	vertical-align: middle;
}

img {
    border: 0px;
}

.title {
	font-size: small;
	font-weight: bold;
}

.description {
	font-size: 80%;
	font-weight: normal;
}

select.selectbox {
	font-size: 12px;
    height:20px;
}

input.small {
	font-size: 12px;
    height:22px;
}
