[wxHyperLink]
Description=
BaseClass=
IncludeFilename=hyperlink.h
ImageFilename=
TileImage=0
ImageHAlignment=2
ImageVAlignment=2
CustomArguments=%PARENT%, %IDENTIFIER%, %POSITION%, %SIZE%, %STYLE%
CustomCtorArguments=
Styles=
ExtraStyles=
DefaultWidth=-1
DefaultHeight=-1
ShowInheritedProperties=1
IsContainer=0
Label=%Label%
Colour=FFFFFF
BorderStyle=wxSIMPLE_BORDER
[wxHyperLink/Properties]
[wxHyperLink/Properties/Label]
Type=wxString
Kind=0
Editor=default
DefaultValue=
Setter=
Getter=
XRCTag=
Description=
Translateable=1
