<?xml version="1.0"?>
<!--
  Berkeley Open Infrastructure for Network Computing
  http://boinc.berkeley.edu
  Copyright (C) 2007 University of California

  This is free software; you can redistribute it and/or
  modify it under the terms of the GNU Lesser General Public
  License as published by the Free Software Foundation;
  either version 2.1 of the License, or (at your option) any later version.

  This software is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Lesser General Public License for more details.

  To view the GNU Lesser General Public License visit
  http://www.gnu.org/copyleft/lesser.html
  or write to the Free Software Foundation, Inc.,
  59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="8DD2C81D-E718-4D7D-832B-4B14F265BA60"
           UpgradeCode="E913E54D-5080-42EC-A312-B21948BA1C02"
           Name="!(wix.ProductName)"
           Language="1033"
           Version="5.9.1"
           Manufacturer="Space Sciences Laboratory, U.C. Berkeley">
    <!-- Do not brand or localize the Summary information. -->
    <Package Description="BOINC for Windows"
             Comments="Provides all the infrastructure for BOINC to download workunits and process them without user interaction."
             Manufacturer="Space Sciences Laboratory, U.C. Berkeley"
             InstallerVersion="200"
             Platforms="Intel"
             Languages="1033"
             SummaryCodepage="1252"
             Compressed="yes" />
    <Media Id="1"
           EmbedCab="yes"
           Cabinet="BOINC.cab" />

    <WixVariable Id="ProductName" Overridable="yes" Value="BOINC" />
    <!--
    INSTALLDIR
    The location to install BOINC too.
    Example: 'C:\BOINC'
    SETUPTYPE - map this to ALLUSERS
    The type of installation to perform.
    Valid Values: 'Single', 'Shared', 'Service'.
    ALLUSERS
    Whether the shortcuts appear for just one user or all users.
    Valid Values: '0' for Single, '1' for shared, '1' for service. - 0 or 1 for service! - 0 default.
    ENABLESCREENSAVER
    Whether to automatically enable the screensaver.
    Valid Values: '0' for disabled, '1' for enabled.
    ENABLELAUNCHATLOGON
    Whether to automatically start BOINC when the installing user or all users sign on to the computer.
    Valid Values: '0' for disabled, '1' for enabled.
    LAUNCHPROGRAM
    Whether to automatically launch BOINC Manager after setup completes.
    Valid Values: '0' for disabled, '1' for enabled.
    '2' for launch minimised (default for upgrades)
    SERVICE_DOMAINUSERNAME
    Which user account should the service use.
    Valid Values: '%ComputerName%\%UserName%' - Don't specify to use internal BOINC account.
    %ComputerName% can be either the local computername or a domain name.
    %UserName% should be the username of the user to use.
    SERVICE_PASSWORD
    The password for the account described in the SERVICE_DOMAINUSERNAME property.
    Valid Values: '%Password%'
    %Password% the password for the SERVICE_DOMAINUSERNAME user account.
    SERVICE_GRANTEXECUTIONRIGHT - seems pointless. Service will fail without this right.
    Grant the above user account the 'Logon as a Service' user right.
    Valid Values: '0' for disabled, '1' for enabled. 
    
    
    <Property Id="HTTPPROXYADDRESS"></Property>
    <Property Id="HTTPPROXYPORT"></Property>
    <Property Id="HTTPPROXYUSERNAME"></Property>
    <Property Id="HTTPPROXYPASSWORD"></Property>

    <Property Id="SOCKSPROXYADDRESS"></Property>
    <Property Id="SOCKSPROXYPORT"></Property>
    <Property Id="SOCKSPROXYUSERNAME"></Property>
    <Property Id="SOCKSPROXYPASSWORD"></Property>
-->
    
    <!--
    INSTALLDIR
    SERVICEDIR
    DATADIR
    -->
    <!-- BOINC public properties -->
    <Property Id="ENABLELAUNCHATLOGON">1</Property>
    <Property Id="SETUPTYPE">Service</Property>

    
	  
    <!-- Add or Remove Programs properties -->
    <Property Id="ARPCOMMENTS">Berkeley Open Infrastructure for Network Computing (BOINC)</Property>
    <Property Id="ARPHELPLINK">http://boinc.berkeley.edu/</Property>
    <Property Id="ARPURLINFOABOUT">http://boinc.berkeley.edu/</Property>
    <Property Id="ARPURLUPDATEINFO">http://boinc.berkeley.edu/</Property>
    <Property Id="ARPPRODUCTICON">boincicon.exe</Property>

    <!-- Standard properties -->
    <Property Id="DiskPrompt">[1]</Property>
    <Property Id="INSTALLLEVEL">100</Property>
    <Property Id="ALLUSERS">2</Property>

    <!-- <Property Id="SERVICE_DOMAINUSERNAME">LocalSystem</Property> -->
    
    <!-- Internal properties -->
    <Property Id="InstallType">0</Property>
    <Property Id="ServiceAccount">None</Property>
    <Property Id="MaintenanceType">Reinstall</Property>
    <Property Id="InstallMode">Install</Property>


    <!-- Doesn't seem to work very well - use existing CA instead. -->
    <!-- <CloseApplication xmlns="http://schemas.microsoft.com/wix/UtilExtension"
                      Id="CloseBOINCManager" Description="Need to close BOINC Manager" Target="boincmgr.exe" Sequence="10" /> -->

    <CustomAction Id="SetBOINCUser" Return="check" Property="ServiceAccount" Value="BOINCUser" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="StartupFolder" />
      <Directory Id="WindowsFolder">
        <Directory Id="ScreensaverFolder" />
      </Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR"
                   Name="BOINC"
                   SourceName="." FileSource="SourceDir\">
          <Directory Id="SERVICEDIRECTORY" />
          <Directory Id="locale" Name="locale" />
          <Directory Id="skins" Name="skins" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="BOINCStartMenu" Name="BOINC" />
      </Directory>
      <Directory Id="DATADIR" Name="BOINC" />
    </Directory>





    <Feature Id="BOINC"
             Title="Complete BOINC Client Package"
             Level="1">
      <ComponentRef Id="CRT71"/>
      <ComponentRef Id="License" />
      <Feature Id="Client"
               Title="BOINC Core Client"
               Level="1">
        <ComponentRef Id="BOINCService" />
        <ComponentRef Id="boinc.exe" />
        <ComponentRef Id="boinccmd.exe" />
        <ComponentRef Id="Debug"/>
        <ComponentRef Id="cabundle.crt"/>
        <ComponentRef Id="zlib1.dll"/>
        <ComponentRef Id="libeay32.dll"/>
        <ComponentRef Id="ssleay32.dll"/>
        <ComponentRef Id="libcurl.dll"/>
        <Feature Id="Screensaver"
                 Title="BOINC Screensaver"
                 Level="1">
          <ComponentRef Id="Screensaver" />
          <ComponentRef Id="ScreensaverEnable9X" />
          <ComponentRef Id="ScreensaverEnableNT" />
        </Feature>
      </Feature>
      <Feature Id="Manager"
               Title="BOINC Manager"
               Level="1">
        <ComponentRef Id="boincmgr.exe" />
        <ComponentRef Id="boinc.dll" />
        <ComponentRef Id="skins" />
        <Feature Id="Startup"
                 Title="Manager Startup Shortcut"
                 Level="1">
          <ComponentRef Id="ManagerStartup" />
        </Feature>
        <FeatureRef Id="Globalization" />
        <FeatureRef Id="Branding" />
      </Feature>
    </Feature>

    <!-- Branding binaries -->
    <Binary Id="BannerBinary"
            SourceFile="!(wix.BannerImage)" />
    <Binary Id="PosterBinary"
            SourceFile="!(wix.PosterImage)" />
    <Icon Id="boincicon.exe"
          SourceFile="Binary\boinc.ico"/>
    
    <!-- Standard binaries -->
    <Binary Id="FolderIcon"
            SourceFile="Binary\folder.ico" />
    <Binary Id="Up16Icon"
            SourceFile="Binary\go-up.ico" />
    <Binary Id="PackageIcon"
            SourceFile="Binary\package-x-generic.ico" />
    <Binary Id="WarningIcon"
            SourceFile="Binary\dialog-warning.ico" />
    <Binary Id="FolderNew16Icon"
            SourceFile="Binary\folder-new.ico" />

    <?include UI.wxi ?>
  </Product>

</Wix>
