<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="Branding">
    <WixVariable Id="ProductName" Value="World Community Grid (BOINC)" />
    <WixVariable Id="PosterImage" Value="Binary\splash.jpg" />
    <WixVariable Id="BannerImage" Value="Binary\banner.jpg" />
  </Fragment>
</Wix>