<?xml version="1.0" encoding="UTF-8"?>
  
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">  
  <Fragment>
    <!-- Local variables to track the checkbox state -->
    <Property Id="ENABLESTARTMENUITEMS_VAR" Secure="yes" Value="1" />
    <Property Id="ENABLEUSEBYALLUSERS_VAR" Secure="yes" />
    <Property Id="ENABLELAUNCHATLOGON_VAR" Secure="yes" />
    <Property Id="ENABLEPROTECTEDAPPLICATIONEXECUTION3_VAR" Secure="yes" />

    <Property Id="ENABLESTARTMENUITEMS_Description" Value="!(loc.ENABLESTARTMENUITEMS_Description)" />
    <Property Id="ENABLEUSEBYALLUSERS_Description" Value="!(loc.ENABLEUSEBYALLUSERS_Description)" />
    <Property Id="ENABLELAUNCHATLOGON_Description" Value="!(loc.ENABLELAUNCHATLOGON_Description)" />
    <Property Id="ENABLEPROTECTEDAPPLICATIONEXECUTION3_Description" Value="!(loc.ENABLEPROTECTEDAPPLICATIONEXECUTION3_Description)" />

    <!-- Outside variables to condition components based on checkbox final value -->
    <SetProperty Id="ENABLESTARTMENUITEMS" Value="1" Sequence="execute" Before="CostFinalize"><![CDATA[ENABLESTARTMENUITEMS_VAR]]></SetProperty>
    <SetProperty Id="ENABLEUSEBYALLUSERS" Value="1" Sequence="execute" Before="CostFinalize"><![CDATA[ENABLEUSEBYALLUSERS_VAR]]></SetProperty>
    <SetProperty Id="ENABLELAUNCHATLOGON" Value="1" Sequence="execute" Before="CostFinalize"><![CDATA[ENABLELAUNCHATLOGON_VAR]]></SetProperty>
    <SetProperty Id="ENABLEPROTECTEDAPPLICATIONEXECUTION3" Value="1" Sequence="execute" Before="CostFinalize">
      <![CDATA[ENABLEPROTECTEDAPPLICATIONEXECUTION3_VAR]]>
    </SetProperty>

    <!-- Screensaver is not available on ARM architecture -->
    <Property Id="ENABLESCREENSAVER_VAR" Secure="yes" />
    <Property Id="ENABLESCREENSAVER_Description" Value="!(loc.ENABLESCREENSAVER_Description)" />
    <SetProperty Id="ENABLESCREENSAVER" Value="1" Sequence="execute" Before="CostFinalize"><![CDATA[ENABLESCREENSAVER_VAR]]></SetProperty>

    <UI>
      <!-- Options dialog -->
      <Dialog Id="OptionsDlg" Width="370" Height="270" Title="!(loc.OptionsDlg_Title)">
        <!-- Graphical elements -->
        <Control Id="BannerHeader" Type="Text" X="15" Y="6" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}!(loc.OptionsDlgTitle)" />
        <Control Id="BannerSubHeader" Type="Text" X="15" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.OptionsDlgDescription)" />        
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.OptionsDlgBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <Control Id="ProductVersion" Type="Text" X="10" Y="243" Width="56" Height="17" Text="[ProductVersion]" />
        
        <Control Id="Back" Type="PushButton" X="175" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" >
          <Publish Property="ENABLEADVANCEDCONTROLS_VAR" Order="1">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="230" Y="243" Width="56" Height="17" Text="!(loc.WixUINext)" >
          <!-- Verifies that directories chosen are valid before installing -->
          <Publish Event="DoAction" Value="CAVerifyInstallDirectories">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" Cancel="yes" X="300" Y="243" Width="56" Height="17" Text="!(loc.WixUICancel)" >
          <Publish Event="SpawnDialog" Value="CancelDlg" Order="1">1</Publish>
        </Control>

        <!-- Advanced paths -->
        <Control Id="Folder1Img" Type="Bitmap" X="20" Y="52" Width="32" Height="32" TabSkip="no" Text="!(loc.OptionsDlgFolderIcon)" />
        <Control Type="Text" Id="Folder1Header" Transparent="yes" NoPrefix="yes" Width="210" Height="15" X="62" Y="55" Text="Program Directory" />
        <Control Type="Text" Id="Folder1Value" Transparent="yes" NoPrefix="yes" Width="210" Height="15" X="62" Y="65" Text="[BOINCBIN]" />
        <Control Id="btnDirBrowse"
                Type="PushButton"
                Width="56" Height="17"
                X="290" Y="60"
                Text="Change..." >
          <Publish Property="_BrowseProperty" Value="BOINCBIN" Order="1">1</Publish>
          <Publish Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
        </Control>

        <Control Id="Folder2Img" Type="Bitmap" X="20" Y="82" Width="32" Height="32" TabSkip="no" Text="!(loc.OptionsDlgFolderIcon)" />
        <Control Type="Text" Id="Folder2Header" Transparent="yes" NoPrefix="yes" Width="210" Height="15" X="62" Y="85" Text="Data Directory" />
        <Control Type="Text" Id="Folder2Value" Transparent="yes" NoPrefix="yes" Width="210" Height="15" X="62" Y="95" Text="[BOINCDATA]" />
        <Control Id="btnDirBrowse2"
                Type="PushButton"
                Width="56" Height="17"
                X="290" Y="90"
                Text="Change..." >
          <Publish Property="_BrowseProperty" Value="BOINCDATA" Order="1">1</Publish>
          <Publish Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
        </Control>

<!-- 
        <Control Id="OPT1" Type="CheckBox" X="20" Y="125" Width="230" Height="18" CheckBoxValue="1" Hidden="yes" 
                 Property="ENABLESTARTMENUITEMS_VAR" Text="[ENABLESTARTMENUITEMS_Description]" Disabled="no" />
        <Control Id="OPT5" Type="CheckBox" X="20" Y="205" Width="230" Height="18" CheckBoxValue="1" Hidden="yes" 
                 Property="ENABLELAUNCHATLOGON_VAR" Text="[ENABLELAUNCHATLOGON_Description]" Disabled="no" />
 -->

        <!-- Enable the screensaver -->
        <Control Id="OPT3" Type="CheckBox" X="20" Y="130" Width="230" Height="18" CheckBoxValue="1" Hidden="no" 
                 Property="ENABLESCREENSAVER_VAR" Text="[ENABLESCREENSAVER_Description]" Disabled="no" >
        <?if var.Platform = 'ARM64' ?>
            <Condition Action="disable"><![CDATA[1]]></Condition>
        <?endif ?>
        </Control>

        <!-- Allow executing protected applications -->
        <Control Id="OPT4" Type="CheckBox" X="20" Y="150" Width="230" Height="18" CheckBoxValue="1" Hidden="no" 
                 Property="ENABLEPROTECTEDAPPLICATIONEXECUTION3_VAR" Text="[ENABLEPROTECTEDAPPLICATIONEXECUTION3_Description]" Disabled="no" />
        <Control Type="Text" Id="OPT4Description" Transparent="yes" NoPrefix="yes" Width="320" Height="55" X="30" Y="170" Text="!(loc.ENABLEPROTECTEDAPPLICATIONEXECUTION3_LongDescription)" />

        <Control Id="OPT2" Type="CheckBox" X="20" Y="205" Width="230" Height="18" CheckBoxValue="1" Hidden="no"
                 Property="ENABLEUSEBYALLUSERS_VAR" Text="[ENABLEUSEBYALLUSERS_Description]" Disabled="no" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>