/* $Id: alternate.css,v 1.1.2.6 2010/10/23 02:18:33 marvil07 Exp $  */
/* Alternate widget CSS files */

.vud-widget-alternate {
    float: left;
    clear: left;
    padding: 0;
    margin: 5px 6px 1px 0;
    width: 50px;
    height: 54px;
}

.vud-widget-alternate .up-active,
.vud-widget-alternate .up-inactive {
    height: 22px;
    width: 50px;
    margin-top: 1px;
    background-image: url('plus.png');
}

.vud-widget-alternate .up-active,
.vud-widget-alternate .up-inactive:hover {
  background-position: 0px -7px;
}

.vud-widget-alternate .up-inactive {
  background-position: 0px -43px;
}

.vud-widget-alternate .up-active {
    cursor: default;
}
.vud-widget-alternate .up-inactive:hover {
    cursor: pointer;
}

.vud-widget-alternate .alternate-votes-display {
    font-family: Georgia, serif;
    border: 1px solid #CCCCCC;
    text-align: center;
    height: 26px;
    font-size: 18px;
    padding: 2px;
}

.vud-widget-alternate .ctools-ajaxing {
  padding-right: 0 !important;
  display: block;
  width: 50px;
  height: 22px;
  background-position: center;
  float: left;
}

.vud-widget-alternate .ctools-ajaxing div {
  display: none;
}
