
.current-search-setting {
  float: left;
  display: inline;
}

.current-search-plugin {
  margin-right: 2em;
}

.current-search-label {
  margin-right: 3em;
}

.current-search-plugin label, .current-search-label label {
  display: inline-block;
}

.current-search-button .form-actions {
  margin-top: .4em;
}

.current-search-remove-link {
  text-align: center;
}

.current-search-group-title {
  display: inline;
  font-weight: bold;
}

.current-search-item-group .item-list {
  display: inline-block;
}

.region-content .current-search-item-group .item-list,
.region-highlighted .current-search-item-group .item-list,
.region-help .current-search-item-group .item-list {
  margin-left: -1.5em;
}

.form-actions {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
}

.current-search-description {
  margin-top: .5em;
  margin-bottom: 1em;
}
