<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <InstallExecuteSequence>
            <Custom Action="CAAnnounceUpgrade" After="CostFinalize" />
            <!-- <Custom Action="CARestoreSetupState" After="CAAnnounceUpgrade" />
            <Custom Action="CACleanupOldBinaries" After="CAValidateSetupType" />
            <Custom Action="CACreateAcctMgrLoginFile" After="CACreateClientAuthFile" />
            <Custom Action="CACreateBOINCAccounts" After="CAGetUsersGroupName" />
            <Custom Action="CACreateBOINCGroups" After="CACreateBOINCAccounts" />
            <Custom Action="CACreateClientAuthFile" After="CAValidateRebootRequest" />
            <Custom Action="CACreateProjectInitFile" After="CACreateAcctMgrLoginFile" />
            <Custom Action="CADeleteBOINCAccounts" After="CARevokeBOINCProjectRights" />
            <Custom Action="CADeleteBOINCGroups" After="CAGrantBOINCProjectsVirtualBoxRights" />

            <Custom Action="CAGetAdministratorsGroupName" After="InstallInitialize" />
            <Custom Action="CAGetUsersGroupName" After="CAGetAdministratorsGroupName" />
            <Custom Action="CAGrantBOINCAdminsRights" After="CACreateBOINCGroups" />
            <Custom Action="CAGrantBOINCAdminsVirtualBoxRights" After="CARevokeBOINCAdminsRights" />
            <Custom Action="CAGrantBOINCMasterRights" After="CACreateBOINCAccounts" />
            <Custom Action="CAGrantBOINCProjectRights" After="CARevokeBOINCMasterRights" />
            <Custom Action="CAGrantBOINCProjectsRights" After="CARevokeBOINCUsersRights" />
            <Custom Action="CAGrantBOINCProjectsVirtualBoxRights" After="CAGrantBOINCProjectsRights" />
            <Custom Action="CAGrantBOINCUsersRights" After="CAGrantBOINCAdminsVirtualBoxRights" />
            <Custom Action="CARestorePermissionBOINCData" After="CASetPermissionBOINCDataSlots" />

            <Custom Action="CARevokeBOINCAdminsRights" After="CAGrantBOINCAdminsRights" />
            <Custom Action="CARevokeBOINCMasterRights" After="CAGrantBOINCMasterRights" />
            <Custom Action="CARevokeBOINCProjectRights" After="CAGrantBOINCProjectRights" />
            <Custom Action="CARevokeBOINCProjectsRights" After="CAGrantBOINCProjectsRights" />
            <Custom Action="CARevokeBOINCUsersRights" After="CAGrantBOINCUsersRights" />

            <Custom Action="CASaveExecutionState" After="CASaveSetupState" />
            <Custom Action="CASaveSetupState" After="CARestorePermissionBOINCData" />

            <Custom Action="CASetPermissionBOINC" After="CACreateProjectInitFile" />
            <Custom Action="CASetPermissionBOINCData" After="CASetPermissionBOINC" />
            <Custom Action="CASetPermissionBOINCDataProjects" After="CASetPermissionBOINCData" />
            <Custom Action="CASetPermissionBOINCDataSlots" After="CASetPermissionBOINCDataProjects" />

            <Custom Action="CAShutdownBOINC" After="AppSearch" />
            <Custom Action="CAShutdownBOINCManager" After="CAShutdownBOINC" />
            <Custom Action="CAShutdownBOINCScreensaver" After="CAShutdownBOINCManager" />

            <Custom Action="CARestoreExecutionState" After="InstallFinalize" />
            <Custom Action="CAValidateInstall" After="InstallFinalize" />
            <Custom Action="CAValidateRebootRequest" After="CAValidateInstall" />

            <Custom Action="CAValidateSetupType" After="ValidateProductID" /> -->

            <!-- Not in any sequence -->
            <!--
            <Custom Action="CALaunchBOINCManager" After="???" />
            <Custom Action="CALaunchBOINCTray" After="???" />
            <Custom Action="CAVerifyInstallDirectories" After="???" />
            -->
        </InstallExecuteSequence>
    </Fragment>
</Wix>