
div.panels-page-type-container {
  clear: left;
}

div.panels-page-type-container .form-checkboxes .form-item {
  float: left;
  width: 15em;
}

#panels-page-settings .form-submit {
  display: block;
  clear: left;
}
