# sample versions_config.py file.
# $Id$

PROJECTS_ROOT = '~/projects/'
URL_ROOT = 'http://setiboinc.ssl.berkeley.edu/'
# syntax: (directory_name, db_name, url_name, [('AppName','app_exe_name')])
PROJECTS = [ Project(directory_name ='AstroPulse_Beta',
                     db_name        ='ap',
                     url_name       ='ap',
                     applications   =[Project(appname='AstroPulse', exe_prefix='ap')]),
             Project(directory_name ='client_test',
                     db_name        ='boinc_client_test',
                     url_name       ='client_test',
                     applications   =[])
             ]
APPS_DIR = '../apps'
KEY_DIR = '~/keys/'
