.privatemsg-unread .privatemsg-list-subject {
  font-weight: bold;
}

.privatemsg-unread .privatemsg-list-subject .marker {
  font-weight: lighter;
}

.privatemsg-list-count {
  text-align: center;
}

.privatemsg-list-subject {
  min-width: 35%;
}

.privatemsg-list-date {
  min-width: 20%;
}
