/* $Id: plain.css,v 1.1.2.7 2010/10/23 02:18:33 marvil07 Exp $  */

.vud-widget-plain {
  float: left;
  clear: left;
  padding: 2px;
  margin: 2px 5px 0 0;
  border: 1px solid #ccc;
  width: 15px;
  height: 32px;
}

.vud-widget-plain .up-active,
.vud-widget-plain .up-inactive,
.vud-widget-plain .down-active,
.vud-widget-plain .down-inactive {
  display: block;
  text-decoration: none;
  width: 15px;
  height: 16px;
  background-image: url('arrows.png');
}

.vud-widget-plain a.up-inactive,
.vud-widget-plain a.down-inactive,
.vud-widget-plain span.up-inactive,
.vud-widget-plain span.down-inactive {
  cursor: pointer;
}

.vud-widget-plain a.up-active,
.vud-widget-plain a.down-active,
.vud-widget-plain span.up-active,
.vud-widget-plain span.down-active {
  cursor: default;
}

.vud-widget-plain .up-active,
.vud-widget-plain .up-inactive:hover {
  background-position: -10px -10px;
  float: left;
}

.vud-widget-plain .up-inactive {
  background-position: -10px -82px;
  float: left;
}

.vud-widget-plain .down-active,
.vud-widget-plain .down-inactive:hover {
  background-position: -10px -118px;
  float: right;
}

.vud-widget-plain .down-inactive {
  background-position: -10px -46px;
  float: right;
}

.total-votes-plain {
  font-weight: bold;
  color: #494949;
}

.vud-term-table {
  border: 1px solid #D3E7F4;
  float: right;
  width: 40em;
  margin: 0.5em 0 0.5em 1em;
}

.vud-widget-plain .ctools-ajaxing {
  padding-right: 0 !important;
  display: block;
  width: 15px;
  height: 16px;
  background-position: center;
  float: left;
}

.vud-widget-plain .ctools-ajaxing.plain-click-up {
  margin-right: 3px;
}

.vud-widget-plain .ctools-ajaxing.plain-click-down {
  margin-left: 3px;
}

.vud-widget-plain .ctools-ajaxing span {
  display: none;
}
