Source: dcapi
Section: devel
Priority: extra
Maintainer: Gábor Gombás <gombasg@sztaki.hu>
Standards-Version: 3.6.2.1
Build-Depends: boinc-dev, uuid-dev

Package: libdcapi-dev
Section: libdevel
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Distributed Computing Platform API
 This package contains headers and libraries for building applications using
 the Distributed Computing Platform.
