Source: dcapi
Section: devel
Priority: extra
Maintainer: Gábor Gombás <gombasg@sztaki.hu>
Standards-Version: 3.6.2.1
Build-Depends: boinc-dev (>= 1:5.6.4-1), uuid-dev, libglib2.0-dev, debhelper, automake1.9 | automaken (>= 1.9), autoconf (>= 2.53), libtool, gtk-doc-tools (>= 1.3)

Package: libdcapi-common-dev
Section: libdevel
Priority: extra
Architecture: all
Recommends: libdcapi-boinc-dev | libdcapi-dev
Replaces: libdcapi-dev (<< 0.9-7)
Conflicts: libdcapi-dev (<< 0.9-7)
Description: Distributed Computing Platform API - Development files
 This package contains headers and libraries for building applications using
 the Distributed Computing Platform.
 .
 This package contains the header files.

Package: libdcapi-boinc-dev
Section: libdevel
Priority: extra
Architecture: any
Provides: libdcapi-dev
Replaces: libdcapi-dev (<< 0.9-7)
Conflicts: libdcapi-dev (<< 0.9-7)
Depends: libdcapi-common-dev, pkg-config, libglib2.0-dev, boinc-dev (>= 5.6.4-1), uuid-dev
Description: Distributed Computing Platform API - Development files
 This package contains headers and libraries for building applications using
 the Distributed Computing Platform.
 .
 This package contains the BOINC backend.

#Package: libdcapi-condor-dev
#Section: libdevel
#Priority: extra
#Architecture: any
#Provides: libdcapi-dev
#Depends: libdcapi-common-dev, pkg-config, libglib2.0-dev, libcondorapi-dev, uuid-dev
#Description: Distributed Computing Platform API - Development files
# This package contains headers and libraries for building applications using
# the Distributed Computing Platform.
# .
# This package contains the Condor backend.

Package: libdcapi-local-dev
Section: libdevel
Priority: extra
Architecture: any
Provides: libdcapi-dev
Depends: libdcapi-common-dev, pkg-config, libglib2.0-dev, uuid-dev
Description: Distributed Computing Platform API - Development files
 This package contains headers and libraries for building applications using
 the Distributed Computing Platform.
 .
 This package contains the local stand-alone backend.

Package: libdcapi-doc
Section: doc
Priority: extra
Architecture: all
Description: Distributed Computing Platform API - Documentation
 This package contains the documentation for the Distributed Computing
 Platform.
