# This file is part of BOINC.
# http://boinc.berkeley.edu
# Copyright (C) 2023 University of California
#
# BOINC is free software; you can redistribute it and/or modify it
# under the terms of the GNU Lesser General Public License
# as published by the Free Software Foundation,
# either version 3 of the License, or (at your option) any later version.
#
# BOINC is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with BOINC.  If not, see <http://www.gnu.org/licenses/>.

name: Coverity
on:
  push:
    branches: [ 'master' ]
  pull_request:
      branches: [ master ]
  schedule:
    - cron:  '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  coverity:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 2

      - name: Install dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y autopoint libftgl-dev freeglut3-dev libcurl4-openssl-dev libxmu-dev libxi-dev libfcgi-dev libxss-dev libnotify-dev libxcb-util0-dev libgtk-3-dev libsecret-1-dev libgcrypt20-dev libsystemd-dev libwebkit2gtk-4.1-dev p7zip-full libxxf86vm-dev ocl-icd-opencl-dev zip libltdl-dev libzip-dev nlohmann-json3-dev libwxgtk3.2-dev libwxgtk-webview3.2-dev

      - name: Cache dependencies
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809
        with:
          path: |
            3rdParty/buildCache
            !3rdParty/buildCache/linux/vcpkgcache/
          key: linux-coverity-${{ hashFiles('3rdParty/*Linux*.sh', 'linux/*.sh', '.github/workflows/coverity.yml') }}

      - name: Automake
        if: success()
        run: ./_autosetup

      - name: Prepare for scan
        if: success()
        run: ./configure --enable-client --enable-manager --enable-apps --enable-apps-vbox --enable-apps-gui --enable-server

      - name: Check if this is a scheduled run
        if: ${{ success() && github.ref == 'refs/heads/master' && github.event_name == 'schedule' }}
        run: |
          echo "SKIP_SCAN=0" >> $GITHUB_ENV

      - name: Check if this is a push or PR run
        if: ${{ success() && (github.ref != 'refs/heads/master' || github.event_name != 'schedule') }}
        run: |
          echo "SKIP_SCAN=1" >> $GITHUB_ENV

      - name: Just do the build
        if: ${{ success() && env.SKIP_SCAN != 0 }}
        run: |
          make

      - name: Coverity Scan
        if: ${{ success() && env.SKIP_SCAN == 0 }}
        uses: vapier/coverity-scan-action@2068473c7bdf8c2fb984a6a40ae76ee7facd7a85
        with:
          project: 'BOINC/boinc'
          token: ${{ secrets.COVERITY_SCAN_TOKEN }}
          email: 'lestat.de.lionkur@gmail.com'
