name: Snapcraft
on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: snapcore/action-build@v1
        id: snapcraft
      - run: sudo snap install --dangerous --devmode ${{ steps.snapcraft.outputs.snap }}
      - run: sudo snap info boinc
