name: 'Test Report'
on:
  workflow_run:
    workflows: [Linux, Android]        # runs after these workflow
    types:
      - completed

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
    - uses: dorny/test-reporter@v1
      with:
        artifact: /(.*)_tests_results/ # artifact name
        name: $1 Tests Report          # Name of the check run which will be created
        path: '*.xml'                  # Path to test results (inside artifact .zip)
        reporter: java-junit
